<template>
  <div>
    <div class="row">
      <div class="col-lg-6 col-sm-6" v-for="stats in statsCards">
        <stats-card>
          <div class="icon-big text-center" :class="`icon-${stats.type}`" slot="header">
            <i :class="stats.icon"></i>
          </div>
          <div class="numbers" slot="content">
            <p>{{stats.title}}</p>
            {{stats.value}}
          </div>
          <div class="stats" slot="footer">
            <i :class="stats.footerIcon"></i> {{stats.footerText}}
          </div>
        </stats-card>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import StatsCard from './../../../UIComponents/Cards/StatsCard.vue'

  export default {
    components: {
      StatsCard
    },
    /**
     * Chart data used to render stats, charts. Should be replaced with server data
     */
    data () {
      return {
        statsCards: []
      }
    },
    mounted () {
      axios.get('/api/admin/access-control/stats').then(({ data }) => {
        this.statsCards = data;
      });
    }
  }
</script>
<style>

</style>
