<template>
      <modal :show.sync="modals.classic" name="question-modal" :width="1000" style="margin-left:50px"  headerClasses="justify-content-center">
         <div class="modal-content" style="overflow: scroll; max-height: 500px;">
          <form>
            <div class="custom-modal-header">
              <div class="custom-modal-wrapper">
                <h4>Q & A</h4>
              </div>
            </div>
            <div class="custom-modal-content">
              <div class="custom-modal-wrapper">
                <div class="row">
                  <div class="col-md-4">
                    <h4 style="text-align:center;">Question</h4>
                  </div>
                  <div class="col-md-4">
                    <h4 style="text-align:center;">Answer</h4>
                  </div>
                  <div class="col-md-4">
                    <h4 style="text-align:center;">Result</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <button type="button" style="width: 100%;text-align:left; padding: 2px; border-radius: 5px;" @click="addQuestion()" :disabled="editQuestion == 0 ? true : false">
                      <b>New Question +</b>
                    </button>
                    <div v-for="question in questions" :key="question.key">
                      <div class="form-group for-question" style="background-color:#D5E2E6; margin-top: 10px; padding: 10px; border-radius: 5px;">
                        <label for="comment">Question {{ question.key }}</label>
                        <textarea class="form-control" rows="5" id="comment" :disabled="question.edit == 0 ? true : false"></textarea>

                        <div class="button-add-question" style="padding: 5px;" v-if="question.edit == 1">
                          <button type="button" style="border-radius: 5px;">
                            <b>Import</b>
                          </button>
                          <button type="button" style="border-radius: 5px; float: right;" @click="submitQuestion(question.key)">
                            <b>OK</b>
                          </button>
                        </div>

                        <div class="button-add-question" style="padding: 5px;" v-if="question.edit == 0">
                          <button type="button" style="border-radius: 5px; float: right;" @click="editQuestionBox(question.key)">
                            <b>edit</b>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Answer Box -->
                  <div class="col-md-8">
                    <button type="button" style="width: 50%;text-align:left; padding: 2px; border-radius: 5px;" :disabled="buttonAnswer == 0 ? true : false" @click="addAnswer()">
                      <b>New Answer +</b>
                    </button>
                    <div v-if="boxAnswer == 1" v-for="box in answerBox" :key="box.key">
                      <!-- <div v-for="answer in answers" :key="answer"> -->
                        <div class="row" style="background-color:#D5E2E6; margin-top: 10px; padding: 10px; border-radius: 5px;">
                          <div class="form-group for-question col-md-12" style="margin-top: 10px; padding: 10px;">
                            <div v-for="answer in box.answers" :key="answer.key">
                              <div class="col-md-6" style="padding: 5px;">
                                <fg-input class="no-border form-control-lg"
                                          placeholder="Create Question"
                                          addon-left-icon="now-ui-icons users_circle-08" :disabled="box.editAnswer == 0 ? true : false">
                                </fg-input>
                              </div>
                              
                              <div class="col-md-6" style="padding: 5px;">
                                <fg-input class="no-border form-control-lg"
                                          placeholder="URL/Website"
                                          addon-left-icon="now-ui-icons users_circle-08" :disabled="box.editAnswer == 0 ? true : false" >
                                </fg-input>
                                <!-- <input type="number" name="points" step="1" style="width: 30px;float: right; padding: 2px; margin-top: -10px;"> -->
                              </div>
                            </div>
                              <button type="button" style="width: 45%;text-align:center; padding: 2px; border-radius: 5px; margin-left: 15px;" :disabled="box.edit = 0 ? true : false" @click="addAnswer(box.key)">
                                <b>+</b>
                              </button>
                          </div>
                          <div class="button-add-question" style="padding: 5px;" v-if="box.editAnswer == 1">
                            <button type="button" style="border-radius: 5px;">
                              <b>Import</b>
                            </button>
                            <button type="button" style="border-radius: 5px; float: right;" @click="submitAnswer(box.key)">
                              <b>OK</b>
                            </button>
                          </div>
                          <div class="button-add-question" style="padding: 5px;" v-if="box.editAnswer == 0">
                            <button type="button" style="border-radius: 5px; float: right;" @click="editAnswerBox(box.key)">
                              <b>edit</b>
                            </button>
                        </div>
                        </div>
                      <!-- </div> -->
                    </div>
                  </div>
                  <!-- End Answer Box -->
                </div>
              </div>
              
            </div>
            <div class="custom-modal-footer">
              <div class="custom-modal-wrapper">
                <!-- <button type="button" class="btn btn-primary">Close</button> -->
                <button class="btn btn-success pull-right" type="submit">Save</button>
              </div>
            </div>
          </form>
        </div>
      </modal>
</template>

<script>
    // import {DropDown} from 'src/components';
    export default {
      name: 'QuestionModal',
      // components: {
      //   DropDown
      // },
      data(){
        return {
          buttonAnswer: 0,
          boxAnswer: 0,
          editQuestion: 1,
          editAnswer: 1,
          isComplete: false,
          questions: [
          ],
          answerBox:[
            
          ],

          modals: {
            classic: false
          }
        }
      },
      methods: {
        addQuestion() {
          // this.editQuestion = 0
          this.questions.push({
            key: this.questions.length + 1,
            question: 'question',
            edit : 1
          })
        },
        addAnswer(key) {
          this.answerBox[key-1].answers.push(
            {
              answer: "",
            }
          )
        },
        submitQuestion(key) {
          
          this.buttonAnswer = 1
          this.boxAnswer = 1
          this.questions[key-1].edit = 0
          if (!this.answerBox[key-1]) {
            this.answerBox.push(
              {
                key: this.answerBox.length + 1,
                answers:[{
                  answer: ""}
                ],
                editAnswer: 1
              }
            )
          }
        },
        submitAnswer(key) {
          this.editQuestion = 1
          this.editAnswer = 0
          this.buttonAnswer = 0
          this.isComplete = true
          this.answerBox[key-1].editAnswer = 0
        },
        editQuestionBox(key) {
          this.questions[key-1].edit = 1
        },
        editAnswerBox(key) {
          this.editQuestion = 0
          this.editAnswer = 1
          this.buttonAnswer = 1
          this.isComplete = false
          this.answerBox[key-1].editAnswer = 1
        },
      },
    }
</script>

<style lang="scss">
  .v--modal{
    height: 100px;
    overflow-y: auto !important;
    margin-top: -100px;
  }
  .edit-button-modal{
    display: block !important;
    overflow-y: scroll !important;
  }
  .modal-content{
    overflow-y: scroll !important;
    .custom-modal-content{
      overflow-y: scroll !important;
      border-bottom: 1px solid #e8e7e3;
      .custom-modal-wrapper {
        .card {
          background-color: #F5FFFE;
          padding: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
</style>