<template>
  <modal name="integration-modal-activecampaign" transition="pop-out" :width="modalWidth" :height="400">
    <div class="modal-content">
      <form>
        <div class="custom-modal-header">
          <div class="custom-modal-wrapper">
            <h4>Add Integration</h4>
          </div>
        </div>
        <div class="custom-modal-content">
          <div class="custom-modal-wrapper">
            <div class="form-group">
              <label>Name</label>
              <input type="text" placeholder="Name" class="form-control" v-model="integration.name">
            </div>
            <div class="form-group">
              <label>API URL</label>
              <input type="url" placeholder="API URL" class="form-control" v-model="integration.api_url">
            </div>
            <div class="form-group">
              <label>API Key</label>
              <input type="text" placeholder="API Key" class="form-control" v-model="integration.api_key">
            </div>
          </div>
        </div>
        <div class="custom-modal-footer">
          <div class="custom-modal-wrapper">
            <button type="button" class="btn btn-primary" @click="closeModal()">Close</button>
            <button type="submit" class="btn btn-info btn-fill btn-wd" @click.prevent="saveIntegration('activecampaign')">
              Save Integration
            </button>
          </div>
        </div>
      </form>
    </div>
  </modal>
</template>
<script>
const MODAL_WIDTH = 656
import axios from 'axios'
import swal from 'sweetalert2'

export default {
  name: 'IntegrationModalActiveCampaign',
  data () {
    return {
      modalWidth: MODAL_WIDTH,
      integration: {
        name: '',
        api_url: '',
        api_key: ''
      }
    }
  },
  created () {
    this.modalWidth = window.innerWidth < MODAL_WIDTH
      ? MODAL_WIDTH / 2
      : MODAL_WIDTH
  },
  methods: {
    closeModal() {
      this.clearForm()
    },
    saveIntegration() {
      let app = this
      let config = {
        api_url: this.integration.api_url,
        api_key: this.integration.api_key
      }

      axios.post('/api/integration', {
        name: this.integration.name,
        service: 'activecampaign',
        config
      }).then(({ data }) => {
        this.clearForm()

        this.$parent.integrations.push(data)
      }).catch(function (error) {
        //
      }).then(function () {
        //
      })
    },
    clearForm() {
      this.integration.name = ''
      this.integration.api_url = ''
      this.integration.api_key = ''

      this.$modal.hide('integration-modal-activecampaign')
    }
  }
}
</script>
<style lang="scss">
  .v--modal-box{
    height: auto !important;
  }
  .modal-content{
    .custom-modal-wrapper{
      margin: 20px;
    }
    .custom-modal-header{
      border-bottom: 1px solid #e8e7e3;
    }
  }
</style>
