<template>
  <div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Media Library</h4>
          </div>
          <vue-tabs class="card-content">
            <v-tab title="Pictures" icon="ti-image">
              Pictures
            </v-tab>
            <v-tab title="Videos" icon="ti-video-camera">
              Videos
            </v-tab>
          </vue-tabs>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import axios from 'axios'
  import VueTabs from 'vue-nav-tabs'

  Vue.use(VueTabs)

  export default {
    components: {
      //
    },
    /**
     * Chart data used to render stats, charts. Should be replaced with server data
     */
    data () {
      return {
        //
      }
    },
    mounted () {
      //
    }
  }
</script>
<style>

</style>
