<template>
  <div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="row">
          <div class="col-lg-12 col-md-6 col-sm-12">
            <div class="row">
              <h1>Email Services</h1>
              <div class="col-lg-3 col-md-3 col-sm-3" v-for="provider in providers.emailMarketings">
                <div class="card text-center">
                  <div class="card-content">
                    <a @click="showModal(provider)">
                      <img :src="`/img/integrations/${provider}.png`" style="width: 64px; height: 64px;">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
              <h1>Pixels</h1>
              <div class="col-lg-3 col-md-3 col-sm-3" v-for="pixel in providers.pixels">
                <div class="card text-center">
                  <div class="card-content">
                    <a @click="showModal(pixel)">
                      <img :src="`/img/integrations/${pixel}.png`" style="width: 64px; height: 64px;">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <h1>Integrations</h1>
        <div class="col-lg-6 col-md-6 col-sm-6" v-for="integration in integrations" @integration-list="fetchData">
          <div class="card text-center">
            <div class="card-content">
              <h3>{{ integration.name }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <integration-modal-active-campaign/>
    <integration-modal-aweber/>
    <integration-modal-drip/>
    <integration-modal-get-response/>
    <integration-modal-sendlane/>
    <integration-modal-icontact/>
    <integration-modal-market-hero/>
    <integration-modal-mail-chimp/>
    <integration-modal-mad-mimi/>

    <integration-modal-facebook/>
    <integration-modal-twitter/>
    <integration-modal-google/>
    <integration-modal-pinterest/>
    <integration-modal-bing/>
  </div>
</template>

<script>
  import axios from 'axios'

  /**
   * Integration Modal
   * Email Providers
   */
  import IntegrationModalActiveCampaign from './modals/emailproviders/IntegrationModalActiveCampaign.vue'
  import IntegrationModalAweber from './modals/emailproviders/IntegrationModalAweber.vue'
  import IntegrationModalDrip from './modals/emailproviders/IntegrationModalDrip.vue'
  import IntegrationModalGetResponse from './modals/emailproviders/IntegrationModalGetResponse.vue'
  import IntegrationModalSendlane from './modals/emailproviders/IntegrationModalSendlane.vue'
  import IntegrationModalIcontact from './modals/emailproviders/IntegrationModalIcontact.vue'
  import IntegrationModalMarketHero from './modals/emailproviders/IntegrationModalMarketHero.vue'
  import IntegrationModalMailChimp from './modals/emailproviders/IntegrationModalMailChimp.vue'
  import IntegrationModalMadMimi from './modals/emailproviders/IntegrationModalMadMimi.vue'

  /**
   * Integration Modal
   * Pixels
   */
  import IntegrationModalFacebook from './modals/pixels/IntegrationModalFacebook.vue'
  import IntegrationModalTwitter from './modals/pixels/IntegrationModalTwitter.vue'
  import IntegrationModalGoogle from './modals/pixels/IntegrationModalGoogle.vue'
  import IntegrationModalPinterest from './modals/pixels/IntegrationModalPinterest.vue'
  import IntegrationModalBing from './modals/pixels/IntegrationModalBing.vue'

  export default {
    components: {
      IntegrationModalActiveCampaign,
      IntegrationModalAweber,
      IntegrationModalDrip,
      IntegrationModalGetResponse,
      IntegrationModalSendlane,
      IntegrationModalIcontact,
      IntegrationModalMarketHero,
      IntegrationModalMailChimp,
      IntegrationModalMadMimi,
      IntegrationModalFacebook,
      IntegrationModalTwitter,
      IntegrationModalGoogle,
      IntegrationModalPinterest,
      IntegrationModalBing
    },
    data () {
      let emailMarketingProviders = [
        'activecampaign',
        'aweber',
        'constantcontact',
        //'convertkit',
        'drip',
        'getresponse',
        //'html',
        'icontact',
        'infusionsoft',
        'madmimi',
        'mailchimp',
        'markethero',
        'sendlane',
        //'zapier'
      ]

      let pixelProviders = [
        'facebook',
        'google',
        'pinterest',
        'twitter',
        'bing'
      ]

      return {
        integrations: [],
        providers: {
          emailMarketings : emailMarketingProviders,
          pixels : pixelProviders
        }
      }
    },
    created() {
      this.fetchData()
    },
    methods: {
      fetchData () {
        let app = this;

        axios.get('/api/integrations').then(({ data }) => {
          app.integrations = data;
        });
      },
      showModal(service) {
        this.$nextTick(() => {
          this.$modal.show('integration-modal-' + service)
        })
      }
    }
  }
</script>

<style>
  img {
    cursor: pointer;
  }
</style>
