<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrapper">
          <h4 class="title">{{ workspaceName }}</h4>
        </div>
        <div class="member-wrapper">
          <a @click="inviteMembersModal" class="link"><small> Campaign Members +</small></a>
          <br>
          <div class="member-photo">
            <img src="/img/faces/face-3.jpg"/>
          </div>
          <div class="member-photo">
            <img src="/img/faces/face-3.jpg"/>
          </div>
          <div class="member-photo">
            <img src="/img/faces/face-3.jpg"/>
          </div>
          <div class="member-photo">
            <img src="/img/faces/face-3.jpg"/>
          </div>
          <div class="member-photo">
            <img src="/img/faces/face-3.jpg"/>
          </div>
        </div>
      </div>
    </div>

    <invite-members-modal/>
  </div>
</template>

<script>
  import axios from 'axios'
  import {mapFields} from 'vee-validate'
  import InviteMembersModal from './../Invitation/InviteMembersModal.vue'

  export default {
    components: {
      InviteMembersModal
    },
    data () {
      return {
        workspaceName: '',
        workspaceMembers: [],
        destination: 'workspace',
        destinationId: this.$route.params.workspaceid
      }
    },
    methods: {
      fetchData () {
        const self = this;

        let workspaceId = self.$route.params.workspaceid

        axios.get('/api/workspace/' + workspaceId).then(({ data }) => {
          self.workspaceName = data.name
        });

        axios.get('/api/workspace/' + workspaceId + '/members').then(({ data }) => {
          self.workspaceMembers = data;
        });
      },
      inviteMembersModal () {
        this.$nextTick(() => {
          this.$modal.show('invite-members-modal')
        })
      }
    },
    watch: {
      // call again the method if the route changes
      '$route': 'fetchData'
    },
    created () {
      this.fetchData()
    }
  }
</script>

<style lang="scss">
  .v--modal-box{
    height: auto !important;
  }
  .example-modal-content{
    .custom-modal-wrapper{
      margin: 20px;
    }
    .custom-modal-header{
      border-bottom: 1px solid #e8e7e3;
    }
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .15s
  }

  .fade-enter,
  .fade-leave-to/* .fade-leave-active in <2.1.8 */
  {
    opacity: 0
  }

  .el-tag{
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .title-wrapper{
    min-width: calc(100% - 130px);
    max-width: calc(100% - 130px);
    display: inline-block;
    vertical-align: middle;
  }

  .member-wrapper{
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    .member-photo{
      display: inline;
      img{
        border-radius: 25px;
        width: auto;
        height: 20px;
        border-width: 2px;
        border-color: #a10100;
      }
    }
    .link{
      text-align: right;
      color: #909399;
      transition: all 100ms ease-in;
      margin-right: -4px;
      margin-bottom: 5px;
      cursor: pointer;
      &:hover{
        color: #141414;
      }
    }
  }
</style>
