   input-group label{
        position: absolute;
        width: 100%;
        top: 45px;
        left: 46px;
      }

      .input-group{
        margin-bottom: 30px;
      }

      .input-group-addon, .form-control:focus .input-group-addon, .form-control:active .input-group-addon{
        background-color: transparent;
        border: none;
        border-radius: none;
        color: #aaa;
      }

      .input-group-addon + .form-control{
        padding-left:18px;
      }

      .input-group .form-control:last-child,
      .input-group-addon:last-child,
      .input-group-btn:first-child>.btn-group:not(:first-child)>.btn,
      .input-group-btn:first-child>.btn:not(:first-child),
      .input-group-btn:last-child>.btn,
      .input-group-btn:last-child>.btn-group>.btn,
      .input-group-btn:last-child>.dropdown-toggle{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      .login-page{
        background-image: url('/img/background/background.png');
        background-size:     cover;                      /* <------ */
        background-repeat:   no-repeat;
        background-position: center center;
      }

      .navbar a{
        color: #4e4e4e;
      }
      
      .logo{
        display: inline;
        float:right;
      }

      .card-title{
        display: inline;
        color: #ffffff !important;
      }

      .card .card-header img{
        max-height: 50px;
        max-width: 50px;
        width: auto;
        height: auto;
      }

      .card{
        background-color: #1a1a1a;
        color: #ffffff;
      }

      .forgot{
        line-height:38px;
      }

      .card-content{
        margin-top: 15px;
        margin-bottom: 15px;
      }