<template>
  <div class="card">
    <div class="card-header">
      <h4 class="title">Create User</h4>
    </div>
    <div class="card-content">
      <form>
        <div class="row">
          <div class="col-md-6">
            <fg-input type="text"
                      label="Name"
                      placeholder="Name"
                      v-model="user.name">
            </fg-input>
            <fg-input type="email"
                      label="Email"
                      placeholder="Email"
                      v-model="user.email">
            </fg-input>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Roles</label>
              <span v-bind:key="role.id" v-for="role in roles">
                <p-checkbox v-model="user.roles" v-bind:value="role.name">{{role.name}}</p-checkbox>
              </span>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-default btn-fill btn-wd" @click="$router.go(-1)">
            Back
          </button>
          <button type="submit" class="btn btn-info btn-fill btn-wd" @click.prevent="saveUser">
            Save User
          </button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</template>
<script>
  import axios from 'axios'
  import swal from 'sweetalert2'

  export default {
    data () {
      return {
        user: {
          name: '',
          email: '',
          roles: []
        },
        roles: []
      }
    },
    methods: {
      saveUser () {
        axios.post('/api/admin/user/store', {name: this.user.name, email: this.user.email, roles: this.user.roles}).then(({ data }) => {
          swal({
            title: `Success!`,
            text: `User was saved!`,
            buttonsStyling: false,
            confirmButtonClass: 'btn btn-success btn-fill',
            type: 'success'
          });

          this.$router.push({ name: 'Users' });
        }).catch(function (error) {
          //
        }).then(function () {
          //
        });
      }
    },
    mounted () {
      axios.get('/api/admin/access-control/roles').then(({ data }) => {
        this.roles = data;
      });
    }
  }

</script>
<style>

</style>
