<template>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-minimize">
        <button class="btn btn-fill btn-icon btn-danger" @click="minimizeSidebar">
          <i :class="$sidebar.isMinimized ? 'ti-menu-alt' : 'ti-more-alt'"></i>
        </button>
      </div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" :class="{toggled: $sidebar.showSidebar}" @click="toggleSidebar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar bar1"></span>
          <span class="icon-bar bar2"></span>
          <span class="icon-bar bar3"></span>
        </button>
        <a class="navbar-brand">{{this.$route.name}}</a>
        <div class="navbar-brand">
          <a href="/locale/en">
            <span class="flag-icon flag-icon-gb"></span>
          </a>&nbsp;
          <a href="/locale/id">
            <span class="flag-icon flag-icon-id"></span>
          </a>
        </div>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-right">
          <li :class="[{open:isOpen}]" v-click-outside="closeDropDown" id="userMenu" data-tour-step="0"  v-popover:steps0>
            <slot name="title" @click="toggleDropDown" >
              <a class="dropdown-toggle btn-rotate" data-toggle="dropdown" href="javascript:void(0)">
                <div class="notification">
                  <img src="/img/faces/face-2.jpg"/>&nbsp;&nbsp;{{ name }}
                  <b class="caret"></b>
                </div>
              </a>
            </slot>
            <ul class="dropdown-menu">
              <li class="btn-workspace">
                <button class="btn btn-wd btn-default" type="button" @click="createNewWorkspaceModal">
                  Create New Workspace
                </button>
              </li>
              <div class="scroll-box">
                <li class="workspace" v-bind:key="ws.id" v-for="(ws, index) in workspaces">
                  <div class="workspace-wrapper">
                    <div class="setting">
                      <a @click="manageWorkspaceModal(ws, index)" href="javascript:void(0)"><i class="fa fa-ellipsis-h"></i></a>
                    </div>
                    <router-link :to="{ name: 'Workspace Overview', params: { workspaceid : ws.id}}" tag="a" class="link" data-tour-step="1">
                      <div class="ellipsis-text">{{ ws.name }}</div>
                    </router-link>
                    <!-- <div class="dot dot-active"></div> -->
                  </div>
                </li>
              </div>
              <li class="divider"></li>
              <router-link to="/profile" tag="li">
                <a>My Profile</a>
              </router-link>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-form navbar-search-form" >
          <form role="search">
            <div class="input-group">
              <input type="text" value="" class="form-control" placeholder="Search...">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
            </div>
          </form>
        </ul>
      </div>
      <el-popover
        ref="steps0"
        placement="left-start"
        width="200"
        trigger="manual"
        content="Click here to see all your current workspace and profile setting">
      </el-popover>
      <v-tour name="workspaceTour0" :steps="steps0"></v-tour>
      <v-tour name="workspaceTour1" :steps="steps1"></v-tour>
      <v-tour name="workspaceTour2" :steps="steps2"></v-tour>
    </div>
  </nav>
</template>
<script>
  import Vue from 'vue'
  import {mapFields} from 'vee-validate'
  import axios from 'axios'
  import swal from 'sweetalert2'
  import {Popover} from 'element-ui'

  Vue.use(Popover)

  export default {
    data () {
      return {
        activeNotifications: false,
        isOpen: false,
        resizable: false,
        adaptive: false,
        draggable: false,
        canBeShown: false,
        workspaces: {},
        name: '',
        steps0:[{
          target: '[data-tour-step="0"]',
          content: `Click here to see all your current workspace and profile setting`,
          params: {
            placement: 'left'
          }
        }],
        steps1: [{
          target: '[data-tour-step="1"]',
          content: `But, before anything else, let's start with changing you workspace name, click on the tripel dots.`,
          params: {
            placement: 'left'
          }
        }],
        steps2: [{
          target: '[data-tour-step="2"]',
          // You can even use HTML!
          content: `Here you need to input your workspace name, it could be the name of your company or agencies.`,
          params: {
            placement: 'left'
          }
        },
        {
          target: '[data-tour-step="3"]',
          content: `Lets save the name, click the button`,
          params: {
            // You can control the position of the tour popup easily.
            placement: 'bottom'
          }
        }]
      }
    },
    methods: {
      show(resizable, adaptive, draggable) {
        this.resizable = resizable
        this.adaptive = adaptive
        this.draggable = draggable
        /*
          $nextTick is required because the data model with new
          "resizable, adaptive, draggable" values is not updated yet.. eh
        */
        this.$nextTick(() => {
          this.$modal.show('example-modal')
        })
      },
      welcomeModal() {
        const appParent = this;

        this.$modal.show({
          data () {
          },
          template: `
            <div class="modal-content">
              <form>
                <div class="custom-modal-content">
                  <div class="custom-modal-wrapper">
                    <div style="text-align:center">
                      <br>
                      <br>
                      <h2>Welcome to Digital One!</h2>
                      <br>
                      <br>
                      <br>
                      <p>Hi, {{ this.$route.name }} let us guide you through setting your workspace.</p>
                      <br>
                      <p>
                          <button type="button" class="btn btn-default" @click="onBoardingWorkspace">Let's Get Started<i class="fa fa-chevron-right"></i></button></p>
                      <br>
                      <br>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          `,
          methods: {
            closeModalWorkspace () {
              this.$modal.hide('newUserModal');
            },
            onBoardingWorkspace () {
              var self = this;
              this.$modal.hide('newUserModal');
              self.$tours['workspaceTour0'].start();
            }
          }
        }, null, {
          name: 'newUserModal'
        })
      },
      createNewWorkspaceModal () {
        const appParent = this;
        this.$modal.show({
          data () {
            return {
              model: {
                workspaceId: null,
                workspaceName: null
              },
              modelValidations: {
                workspaceName: {
                  required: true
                }
              }
            }
          },
          computed: {
            ...mapFields(['workspaceName']),
            isComplete () {
              return this.model.workspaceName;
            }
          },
          template: `
            <div class="modal-content">
              <form>
                <div class="custom-modal-header">
                  <div class="custom-modal-wrapper">
                    <h4>Create New Workspace</h4>
                    <i class="fa fa-times pull-right" @click="closeModalWorkspace"></i>
                  </div>
                </div>
                <div class="custom-modal-content">
                  <div class="custom-modal-wrapper">
                    <div class="form-group">
                      <label>Workspace Name</label>
                      <input type="text"
                            name="workspaceName"
                            v-validate="modelValidations.workspaceName"
                            v-model="model.workspaceName"
                            data-vv-as="Workspace Name"
                            class="form-control" autofocus>
                      <small class="text-danger" v-show="workspaceName.invalid">
                        {{ getError('workspaceName') }}
                      </small>
                    </div>
                  </div>
                </div>
                <div class="custom-modal-footer">
                  <div class="custom-modal-wrapper" style="text-align:right">
                    <button class="btn btn-success" type="submit" @click.prevent="createWorkspace" :disabled="!isComplete">Create Workspace</button>
                  </div>
                </div>
              </form>
            </div>
          `,
          methods: {
            closeModalWorkspace () {
              this.$modal.hide('newWorkspaceModal');
            },
            getError (fieldName) {
              return this.errors.first(fieldName)
            },
            createWorkspace () {
              var app = this;
              this.$validator.validateAll().then(isValid => {
                axios.post('/api/workspace', {name: this.model.workspaceName}).then(({ data }) => {
                  appParent.workspaces.push(data);
                  app.$router.push({ name: 'Workspace Overview', params: {workspaceid: data.id} });
                }).catch(function (error) {
                  //
                }).then(function () {
                  app.$modal.hide('newWorkspaceModal');
                });
              })
            }
          }
        }, null, {
          name: 'newWorkspaceModal'
        })
      },
      manageWorkspaceModal (ws, index) {
        let oWorkspaces = this.workspaces;

        this.$modal.show({
          data () {
            return {
              workspace: {
                workspaceName: '',
                members: [],
                emails: '',
                id: ws.id,
              },
              modelValidations: {
                workspaceName: {
                  required: true
                },
                emails: {
                  required: true
                }
              },
              activeName: 'general',
              draggable: true,
              adaptive: true,
              resizable: true
            }
          },
          computed: {
            ...mapFields(['workspaceName', 'emails']),
            isComplete () {
              return this.workspace.workspaceName;
            },
            isCompleteEmails () {
              return this.workspace.emails;
            }
          },
          template: `
            <div class="example-modal-content">
              <form>
                <div class="custom-modal-header">
                  <div class="custom-modal-wrapper">
                    <h4>Workspace Settings</h4>
                    <el-tabs v-model="activeName">
                      <el-tab-pane label="General" name="general">
                        <div class="form-group" data-tour-step="2">
                          <label>Workspace Name</label>
                          <input type="text"
                                name="workspaceName"
                                v-validate="modelValidations.workspaceName"
                                v-model="workspace.workspaceName"
                                data-vv-as="Workspace Name"
                                class="form-control" autofocus>
                          <small class="text-danger" v-show="workspaceName.invalid">
                            {{ getError('workspaceName') }}
                          </small>
                        </div>
                        <div class="custom-modal-footer" style="padding-top: 20px;">
                          <button type="button" class="btn btn-primary" @click="closeModalWorkspace">Close</button>
                          <button class="btn btn-success pull-right" type="submit" @click.prevent="updateWorkspace" :disabled="!isComplete" data-tour-step="3">Update Workspace</button>
                        </div>
                      </el-tab-pane>
                      <el-tab-pane label="Members" name="members">
                        <div class="members-wrapper">
                          <div class="member" v-for="member in workspace.members">
                            <div class="data">
                              <div class="picture">
                                <img src="/img/faces/face-2.jpg"/>
                              </div>
                              <div class="info">
                                <b>{{ member.name }}</b>
                                <br>
                                <small>{{ member.email }}</small>
                              </div>
                            </div>
                            <div class="tools">
                              <a class="delete-link pull-right"><small>Remove Member</small></a>
                            </div>
                          </div>
                        </div>
                        <div class="custom-modal-footer" style="padding-top: 20px;border-top: 1px solid #e0e6e8" id="emailInput">
                          <div class="form-group">
                            <label>Add More member via email</label>
                            <textarea
                              placeholder="Email separated with comma"
                              rows="2"
                              v-model="workspace.emails"
                              v-validate="modelValidations.emails"
                              name="emails"
                              data-vv-as="Email"
                              class="form-control"></textarea>
                            <small class="text-danger" v-show="emails.invalid">
                              {{ getError('emails') }}
                            </small>
                          </div>
                          <button class="btn btn-success pull-right" type="submit" @click.prevent="inviteMembers" :disabled="!isCompleteEmails">Send Invitation</button>
                        </div>
                      </el-tab-pane>
                      <el-tab-pane label="More" name="more" class="text-center">
                        <br>
                        <br>
                        <button type="button" class="btn btn-primary" @click="deleteWorkspace">Delete this workspace</button>
                        <br>
                        <br>
                        <br>
                      </el-tab-pane>
                    </el-tabs>
                  </div>
                </div>
              </form>
            </div>
          `,
          methods: {
            closeModalWorkspace () {
              this.$modal.hide('newManageWorkspaceModal');
            },
            getError (fieldName) {
              return this.errors.first(fieldName)
            },
            updateWorkspace () {
              var self = this;
              this.$validator.validateAll().then(isValid => {
                axios.put('/api/workspace/' + ws.id, {
                  name: self.workspace.workspaceName
                })
                .then(({ res }) => {
                  ws.name = self.workspace.workspaceName;
                }).catch(function (error) {
                  //
                }).then(function () {
                  self.$modal.hide('newManageWorkspaceModal');
                });
              });
            },
            inviteMembers () {
              const self = this;

              this.$validator.validateAll().then(isValid => {
                axios.post('/api/invitation/send/workspace/' + ws.id, {
                  emails: self.workspace.emails
                })
                .then(({ data }) => {
                  data.forEach(function (member) {
                    self.workspace.members.push(member)
                  });
                }).catch(function (error) {
                  //
                }).then(function () {
                  //
                })
              });
            },
            deleteWorkspace() {
              var self = this;

              swal({
                title: `Delete Workspace ${self.workspace.workspaceName}?`,
                text: `You won't be able to revert this!`,
                type: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success btn-fill',
                cancelButtonClass: 'btn btn-danger btn-fill',
                confirmButtonText: 'Yes, delete it!',
                buttonsStyling: false
              }).then(function () {
                axios.delete('/api/workspace/' + self.workspace.id).then(() => {
                  swal({
                    title: 'Deleted!',
                    text: 'Workspace data has been deleted.',
                    type: 'success',
                    confirmButtonClass: 'btn btn-success btn-fill',
                    buttonsStyling: false
                  }).then(function () {
                    self.closeModalWorkspace();
                  });

                  oWorkspaces.splice(index, 1);

                  if (self.workspace.id == self.$route.params.workspaceid) {
                    axios.get('/api/utilities/get-first-workspace').then(({ data }) => {
                      if (data !== '') {
                        self.$router.push({ name: 'Workspace Overview', params: {workspaceid: data} });
                      } else {
                        self.$router.push({ name: 'Dashboard' });
                      }
                    });
                  }
                });
              }, function (dismiss) {
                //
              });
            }
          },
          created () {
            const self = this;
            axios.get('/api/workspace/' + ws.id + '/members').then(({ data }) => {
              self.workspace.members = data;
            });

            axios.get('/api/workspace/' + ws.id).then(({ data }) => {
              self.workspace.workspaceName = data.name;
            });

            if (saassone.isFirstTimeLoggedIn) {
              self.$tours['workspaceTour2'].start();
            }
          }
        }, null, {
          name: 'newManageWorkspaceModal'
        });
      },
      toggleDropDown () {
        this.isOpen = !this.isOpen;
      
        if (saassone.isFirstTimeLoggedIn) {
          this.$tours['workspaceTour1'].start();
        }
      },
      capitalizeFirstLetter (string) {
        return string.charAt(0).toUpperCase() + string.slice(1)
      },
      toggleNotificationDropDown () {
        this.activeNotifications = !this.activeNotifications
      },
      closeDropDown (event) {
        this.isOpen = false
        this.activeNotifications = false
      },
      toggleSidebar () {
        this.$sidebar.displaySidebar(!this.$sidebar.showSidebar)
      },
      hideSidebar () {
        this.$sidebar.displaySidebar(false)
      },
      minimizeSidebar () {
        this.$sidebar.toggleMinimize()
      }
    },
    created () {
      let self = this;
      axios.get('/api/workspaces').then(({ data }) => {
        self.workspaces = data;
      });

      axios.get('/api/profile').then(({ data }) => {
        self.name = data.name;
      });
    },
    mounted () {
      const appParent = this;
      let self = this;
      
      if (saassone.isFirstTimeLoggedIn) {
        axios.post('/api/workspace', {name: 'Workspace Default'}).then(({ data }) => {
          appParent.workspaces.push(data);
          self.$router.push({ name: 'Workspace Overview', params: {workspaceid: data.id} });
        }).catch(function (error) {
          //
        }).then(function () {
          self.welcomeModal();
        });
      }
      else{
        //set active workspace from last opened workspace cookie
      }
      
    }
  }

</script>

<style lang="scss">
  .v-step{
    z-index: 10;
  }
  .v--modal-box{
    height: auto !important;
  }
  .modal-content{
    .custom-modal-wrapper{
      margin: 20px;
    }
    .custom-modal-header{
      border-bottom: 1px solid #e8e7e3;
    }
  }
  .navbar-default{
    border-bottom: none;
    -webkit-box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  }

  .collapsed {
    transition: opacity 1s;
  }

  
  .link{
    color: #909399;
    transition: all 100ms ease-in;
    margin-right: -4px;
    cursor: pointer;
    &:hover{
      color: #141414;
    }
  }

  .example-modal-content .custom-modal-wrapper{
    margin: 30px 20px 15px;
  }

  .v--modal-box.v--modal{
    .custom-modal-header{
      h4.title{
        min-width: calc(100% - 70px);
        max-width: calc(100% - 70px);
        display: inline-block;
        vertical-align: middle;
        margin: 0px;
      }
      .close{
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        width: 50px;
        height: 50px;
      }    
    }
  }

  .member-wrapper{
    text-align: right;
    .member-photo{
      display: inline;
      img{
        border-radius: 25px;
        width: auto;
        height: 20px;
        border-width: 2px;
        border-color: #a10100;
      }
    }
  }

  .dropdown-menu .scroll-box > li > a{
    color: #66615b;
    font-size: 14px;
    padding: 10px 15px;
    display: block;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
  }

  #userMenu{
    img{
      border-radius: 50%;
      height: 38px;
      width: 38px;
    }
    a{
      padding: 18px 15px;
    }
    .btn-workspace{
      padding: 18px 15px;
    }
    .scroll-box{
      width: 100%;
      max-height: 200px;
      overflow-y: auto;
      overflow-x: auto;
      .workspace{
        .workspace-wrapper{
          padding: 18px 15px;
          a{
            padding: 0px;
            display: inline-block;
            vertical-align: middle;
            color: #66615b;
            .ellipsis-text{
              width: calc(194px - 51px);
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              display: inline-block;
            }
          }
          .setting{
            display: inline-block;
            vertical-align: middle;
            padding-right: 5px;
          }

          &:hover{
            a{
              color:rgba(255, 255, 255, 0.85);
            }
            .setting{
              a{
                color:rgba(255, 255, 255, 0.35);
              }

              &:hover{
                a{
                  color:rgba(255, 255, 255, 0.85);
                }
              }
            }
          }
        }
      }
      &::-webkit-scrollbar {
        width: .4em;
      }
      &::-webkit-scrollbar,
      &::-webkit-scrollbar-thumb {
        overflow:visible;
        border-radius: 4px;
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,.2);
      }
    }
  }


  @media (min-width: 992px){
    .navbar-search-form{
      width: calc(100vw - 665px);
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>
