<template>
      <modal :show.sync="modals.classic" name="edit-button-modal" :width="900"  headerClasses="justify-content-center">
         <div class="modal-content">
          <form>
            <div class="custom-modal-header">
              <div class="custom-modal-wrapper">
                <h4>Create Button</h4>
              </div>
            </div>
            <div class="custom-modal-content">
              <div class="custom-modal-wrapper">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card">
                      <div class="card-body">
                        <div>
                          <label for="template">Text</label>
                          <fg-input placeholder="Your Text Here" v-model="inputVal"></fg-input>
                        </div>
                        <div>
                          <div class="form-group">
                            <label for="template">Font</label>
                            <select class="form-control" id="template" name="template">
                              <option>Default</option>
                              <option>Quiz</option>
                              <option>Video</option>
                              <option>Mailbot</option>
                            </select>
                          </div>
                        </div>
                        <div>
                          <h5>Text</h5>
                          <fg-input placeholder="Simple input with v-model binding" v-model="inputVal"></fg-input>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-body">
                        <div>
                          <fg-input placeholder="Simple input with v-model binding" v-model="inputVal"></fg-input>
                        </div>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="card" style="height: 368px;">
                      <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom-modal-footer">
              <div class="custom-modal-wrapper">
                <button type="button" class="btn btn-primary">Close</button>
                <button class="btn btn-success pull-right" type="submit" :disabled="!isComplete">Send Invitation</button>
              </div>
            </div>
          </form>
        </div>
      </modal>
</template>

<script>
    // import {DropDown} from 'src/components';
    export default {
      name: 'EditButtonModal',
      // components: {
      //   DropDown
      // },
      data(){
        return {
          modals: {
            classic: false
          }
        }
      }
    }
</script>

<style lang="scss">
  .v--modal{
    height: 100px;
    overflow-y: auto !important;
    margin-top: -100px;
  }
  .edit-button-modal{
    display: block !important;
    overflow-y: scroll !important;
  }
  .modal-content{
    overflow-y: scroll !important;
    .custom-modal-content{
      overflow-y: scroll !important;
      border-bottom: 1px solid #e8e7e3;
      .custom-modal-wrapper {
        .card {
          background-color: #F5FFFE;
          padding: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
</style>