<template>
    <img id="editImage" class="fr-view fr-fic fr-dii"  src="#" alt="Edit Header With Images" width="300"/>
</template>
<script>
  export default {
    name: 'image-init',
    mounted: function() {
      $(this.$el).froalaEditor();
    }
  }

</script>