<template>
  <div class="card">
    <div class="card-header">
      <h4 class="title">Edit Dummy Data</h4>
    </div>
    <div class="card-content">
      <form>
        <div class="row">
          <div class="col-md-12">
            <fg-input type="text"
                      label="Name"
                      placeholder="Name"
                      v-model="dummy.name">
            </fg-input>
            <fg-input type="text"
                      label="Text"
                      placeholder="Text"
                      v-model="dummy.text">
            </fg-input>
          </div>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-default btn-fill btn-wd" @click="$router.go(-1)">
            Back
          </button>
          <button type="submit" class="btn btn-info btn-fill btn-wd" @click.prevent="updateDummyData">
            Update Dummy Data
          </button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</template>
<script>
  import axios from 'axios'
  import swal from 'sweetalert2'

  export default {
    data () {
      return {
        dummyId: null,
        dummy: {
          name: '',
          text: ''
        }
      }
    },
    methods: {
      updateDummyData () {
        var app = this;
        axios.put('/bootstrap/dummy-data/' + app.dummyId, {name: this.dummy.name, text: this.dummy.text}).then(() => {
          swal({
            title: `Success!`,
            text: `Dummy Data was updated!`,
            buttonsStyling: false,
            confirmButtonClass: 'btn btn-success btn-fill',
            type: 'success'
          });

          app.$router.push({ name: 'Dummy Data List' });
        }).catch(function (error) {
          //
        }).then(function () {
          //
        });
      }
    },
    mounted () {
      let app = this;
      let id = app.$route.params.id;
      app.dummyId = id;

      axios.get('/bootstrap/dummy-data/' + id).then(({ data }) => {
        app.dummy = data;
      });
    }
  }
</script>
<style>

</style>
