<template>
  <div class="minisite-block">
    <editor
      v-bind="$attrs"
      :init="{ menubar: false, plugins: 'lists placeholder', toolbar: 'undo redo | bold italic underline numlist bullist| alignleft aligncenter alignright alignfull' }"
      :placeholder="placeholder"
      class="tinymce-editor minisite-block-item"
      inline
      @
    />
    <span v-if="showStyle" class="minisite-block-style"></span>
  </div>
</template>

<script>
import Editor from '@tinymce/tinymce-vue';
export default {
 components: {
   Editor
 },
 props: {
   placeholder: {
     type: String,
     default: 'Add text or type / to add content'
   },
   showStyle: {
     type: Boolean,
     default: false
   }
 }
}
</script>
