<template>
  <div class="quiz-block">
    <template v-for="(q, index) in quiz">
      <div class="quiz-block-list">
        <text-block :key="index" placeholder="Write your question" style="background: #fdfdfd"/>
        <template v-for="(answer, i) in q.answers">
          <div class="quiz-block-list-answer">
            <el-input :value="answer" :key="'answer-' + i" placeholder="Your answer here" class="quiz-answer">
              <template slot="prepend">{{ alphabets[i] }}</template>
              <el-button slot="append" icon="el-icon-minus" @click="removeAnswer(index, i)"></el-button>
            </el-input>
            <el-row :gutter="10" :key="'row-' + i">
              <el-col :span="16">
                <el-input placeholder="Result URL/Web" class="quiz-answer"/>
              </el-col>
              <el-col :span="8">
                <el-input-number size="medium" style="width: 100%;"></el-input-number>
              </el-col>
            </el-row>
          </div>
        </template>
        <el-input v-model="newAnswer" placeholder="Your answer here" class="quiz-answer">
          <el-button slot="append" icon="el-icon-plus" @click="addAnswer(index)"></el-button>
        </el-input>
      </div>
    </template>
    <div class="quiz-block-add">
      <el-tooltip content="Add more quiz" placement="bottom" effect="light">
        <i class="el-icon-circle-plus-outline" @click="addNewQuiz"></i>
      </el-tooltip>
    </div>
  </div>
</template>

<script>
import TextBlock from '../../../elements/minisite/blocks/Text.vue'
import { Input, Tooltip, Row, Col, InputNumber } from 'element-ui'

export default {
  components: {
    TextBlock,
    'el-input': Input,
    'el-tooltip': Tooltip,
    'el-row': Row,
    'el-col': Col,
    'el-input-number': InputNumber
  },
  data () {
    return {
      quiz: [
        {
          question: '',
          answers: []
        }
      ],
      newAnswer: ''
    }
  },
  computed: {
    alphabets () {
      return 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split('')
    }
  },
  methods: {
    addNewQuiz () {
      this.quiz.push({ question: '', answers: [] })
    },
    addAnswer (index) {
      this.quiz[index].answers.push(this.newAnswer)
      this.newAnswer = ''
    },
    removeAnswer (indexOfQuestion, indexOfAnswer) {
      this.quiz[indexOfQuestion].answers.splice(indexOfAnswer, 1)
    }
  }
}
</script>

<style lang="scss">
.quiz-block-title {
  text-align: center;
  width: auto !important;
  font-size: 32px !important;
  margin-top: 0;
  margin-bottom: 20px;
  color: #82878F;
}
.quiz-block-list {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.quiz-answer {
  margin-bottom: 10px;
}

.quiz-block-add {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;

  > i {
    cursor: pointer !important;
  }
}
</style>
