<template>
  <ul :class="{ 'social-list-inline': inline }" class="social-list">
    <li v-for="i in 5" :key="i">
      <a href="#" class="social-list-item"></a>
    </li>
  </ul>
</template>

<script>
  export default {
    props: {
      inline: {
        type: Boolean,
        default: false
      }
    }
  }
</script>

<style lang="scss">

.social-list {
  list-style: none;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;

  > li {
    display: block;
    > a.social-list-item {
      display: block;
      height: 30px;
      background: #ced4dd;
      margin-bottom: 10px;
    }
  }

  &.social-list-inline {
    > li {
      margin-right: 10px;
      display: inline-block;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.social-list-inline {
  > li {
    display: inline-block;
    > a.social-list-item {
      display: inline-block !important;
      width: 40px !important;
      height: 40px !important;
      margin-bottom: 0;
      border-radius: 50% !important;
    }
  }
}
</style>
