<template>
  <div class="block-video">
    <h3 class="text-muted">
      Select your video here
    </h3>
    <a href="#" class="block-video-button" @click="showEditButton = true">
      <i class="icon el-icon-caret-right"></i>
    </a>
    <el-dialog
      title="Your Video"
      :visible.sync="showEditButton"
      width="50%"
      top="5vh"
      append-to-body>
      <div class="block-video-editing">
        <el-row :gutter="20" style="margin-bottom: 20px;">
          <el-col :span="8">
            <div class="block-video-content block-video-content-small" style="height: 100px;">
              <i class="icon-delete el-icon-circle-close-outline"></i>
              <a href="#" class="block-video-button" @click="showEditButton = true">
                <i class="icon el-icon-caret-right"></i>
              </a>
            </div>
          </el-col>
          <el-col :span="8">
            <div class="block-video-content block-video-content-small" style="height: 100px;">
              <i class="icon-delete el-icon-circle-close-outline"></i>
              <a href="#" class="block-video-button" @click="showEditButton = true">
                <i class="icon el-icon-caret-right"></i>
              </a>
            </div>
          </el-col>
          <el-col :span="8">
            <div class="block-video-content block-video-content-small" style="height: 100px;">
              <a href="#" class="block-video-button" @click="showEditButton = true">
                <i class="icon el-icon-plus"></i>
              </a>
            </div>
          </el-col>
        </el-row>
        <el-row :gutter="30">
          <el-form label-position="left" label-width="60px">
            <el-col :span="24">
              <div class="block-video-content" style="height: 280px;">
                <a href="#" class="block-video-button" @click="showEditButton = true">
                  <i class="icon el-icon-caret-right"></i>
                </a>
              </div>
              <div class="block-video-control">
                <el-row :gutter="20" style="margin-top: 20px;" align="middle" type="flex">
                  <el-col :span="9">
                    <el-form-item class="form-item" label="Start">
                      <el-time-picker
                        v-model="time1"
                        placeholder="Arbitrary time"
                        size="mini"
                        class="input-time"
                      >
                      </el-time-picker>
                    </el-form-item>
                  </el-col>
                  <el-col :span="9">
                    <el-form-item class="form-item" label="End">
                      <el-time-picker
                        v-model="time1"
                        placeholder="Arbitrary time"
                        size="mini"
                        class="input-time"
                      >
                      </el-time-picker>
                    </el-form-item>
                  </el-col>
                  <el-col :span="6" style="text-align: right">
                    <el-button size="mini" type="default" @click="$emit('onImport')">
                      Import
                    </el-button>
                  </el-col>
                </el-row>
              </div>

              <el-row :gutter="20" style="margin-top: 20px;" align="middle" type="flex">
                <el-col :span="12">
                  <h5>Triger</h5>
                </el-col>
                <el-col :span="12">
                  <h5>Action</h5>
                </el-col>
              </el-row>
              <el-row :gutter="20">
                <el-col :span="4">
                  <div>
                    <el-checkbox v-model="timer" label="Timer" size="mini"></el-checkbox>
                  </div>
                  <div>
                    <el-checkbox v-model="clock" label="Clock" size="mini"></el-checkbox>
                  </div>
                </el-col>
                <el-col :span="8">
                  <div class="form-item">
                    <el-time-picker
                      v-model="time1"
                      placeholder="Arbitrary time"
                      size="mini"
                      class="input-time"
                    >
                    </el-time-picker>
                  </div>
                </el-col>
                <el-col :span="12">
                  <el-row :gutter="5" align="middle" type="flex" style="margin-bottom: 10px;">
                    <el-col :span="2">
                      <el-radio v-model="action" value="url"/>
                    </el-col>
                    <el-col :span="20">
                      <el-input :disabled="action == 'video'" size="mini" placeholder="URL">
                        <template slot="prepend">Http://</template>
                      </el-input>
                    </el-col>
                  </el-row>
                  <el-radio v-model="action" label="video">Next video</el-radio>
                </el-col>
              </el-row>

            </el-col>
          </el-form>
        </el-row>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="info" round @click="showEditButton = false">Create</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { Dialog, Slider, Input, Row, Col, Select, Form, FormItem, Checkbox, Radio, InputNumber, ColorPicker, TimePicker } from 'element-ui'
export default {
  components: {
    'el-dialog': Dialog,
    'el-slider': Slider,
    'el-input': Input,
    'el-row': Row,
    'el-col': Col,
    'el-select': Select,
    'el-form': Form,
    'el-form-item': FormItem,
    'el-checkbox': Checkbox,
    'el-radio': Radio,
    'el-input-number': InputNumber,
    'el-color-picker': ColorPicker,
    'el-time-picker': TimePicker
  },
  data () {
    return {
      time1: '',
      showEditButton: false,
      clock: false,
      timer: false,
      action: 'label',
      times: [new Date(2016, 9, 10, 8, 40), new Date(2016, 9, 10, 9, 40)]
    }
  }
}
</script>

<style lang="scss">
.block-video {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

.block-video-button {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  background: #9B9B9B;
  border-radius: 50%;

  &:hover {
    background: darken(#9B9B9B, 10%);
  }

  .icon {
    color: #ffffff !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
  }
}

.block-video-content {
  border: 2px solid #ddd;
  border-radius: 3px;
  position: relative;

  .block-video-button {
    background: #ffffff !important;
    border: 2px solid #9B9B9B;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .icon {
      color: #9B9B9B !important;
    }
  }
}

.block-video-control {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f0f0f0;

}

.form-item {
  padding: 0 !important;
  margin: 0 !important;
}
.input-time {
  max-width: 100%;
}

.el-form-item__label {
  padding-bottom: 0 !important;
  margin: 0 !important;
}

.block-video-content-small {
  .block-video-button {
    width: 40px !important;
    height: 40px !important;

    .icon {
      font-size: 18px !important;
    }
  }
  .icon-delete {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
</style>
