<template>
  <div>
    <el-dialog
      width="60%"
      title="Media Libraries"
      :visible.sync="show"
      @close="$emit('close', false)"
      class="media-dialog"
      append-to-body>
      <div class="media-body">
        <el-row :gutter="20">
          <el-col v-for="i in 20" :key="i" :sm="8">
            <div class="media-item" @click="selected = i">
              <img :src="`https://picsum.photos/300/180?image=${i}`">
              <i :class=" i % 2 ==  0 ? 'el-icon-picture-outline' : 'el-icon-caret-right'" class="media-icon"></i>
              <div class="media-shadow"></div>
              <span :class="{ 'is-checked': selected === i}" class="media-checkbox"></span>
            </div>
          </el-col>
        </el-row>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button round @click="$emit('close', false)">Cancel</el-button>
        <el-button type="info" round @click="$emit('import')">Import</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { Dialog, Row, Col } from 'element-ui'
export default {
  components: {
    'el-dialog': Dialog,
    'el-col': Col,
    'el-row': Row
  },
  props: {
    visible: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      selected: null
    }
  },
  computed: {
    show: {
      get () {
        return this.visible
      },
      set (value) {
        this.$emit('close', false)
      }
    }
  }
}
</script>

<style lang="scss">
.media-dialog {
  .el-dialog__header {
    border-bottom: 1px solid #f0f0f0;
  }
  .el-dialog__footer {
    border-top: 1px solid #f0f0f0;
  }
  .el-dialog__body {
    padding: 0 20px;
  }
}
.media-body {
  display: block;
  height: 400px;
  width: 100%;
  position: relative;
  overflow-y: scroll;
  padding-top: 15px;
}

.media-item {
  position: relative;
  width: 100%;
  height: 150px;
  background: #f0f0f0;
  border-radius: 3px;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer !important;

  &:focus {
    outline: #4CAF50 solid 10px !important;
  }

  img {
    width: 100%;
    position: relative;
  }
}

.media-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #ffffff;
  font-size: 18px;
}

.media-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: inset 0 -71px 93px -36px rgba(0,0,0,.77);
  box-shadow: inset 0 -71px 93px -36px rgba(0,0,0,.77);
  z-index: 99;
}

.media-checkbox {
  background: #ffffff;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 999;
  padding: 2px;

  &.is-checked {
    background: #479CD3 !important;
  }
}
</style>
