<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <router-link :to="{ name: 'Team Overview', params: { workspaceid: $route.params.workspaceid, teamid: $route.params.teamid } }">
          <button class="btn btn-icon">
            <span class="ti-angle-left"></span>
          </button>
        </router-link>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Project {{ projectName }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center">Members</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <button type="button" class="btn btn-wd btn-danger" @click="inviteMembersModal">
                Invite Members
              </button>
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 25px;">
          <div class="col-md-6" v-bind:key="member.id" v-for="member in projectMembers">
            <stats-card>
              <div class="icon-big text-center" :class="`icon-danger`" slot="header">
                <i :class="`ti-user`"></i>
              </div>
              <div class="numbers" slot="content">
                <p>{{member.name}}</p>
                {{ member.role }}
              </div>
            </stats-card>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <h2>Campaigns</h2>
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-wd btn-danger" @click="createNewCampaignModal">
              Create Campaign
            </button>
          </div>
        </div>
        <div class="row" style="padding-top: 25px;">
          <div class="col-md-6" v-bind:key="campaign.id" v-for="campaign in projectCampaigns">
            <router-link :to="{ name: 'Campaign Overview', params: getCampaignOverviewLink(campaign.id) }">
              <stats-card>
                <div class="icon-big text-center" :class="`icon-danger`" slot="header">
                  <i :class="`ti-desktop`"></i>
                </div>
                <div class="numbers" slot="content">
                  <p>{{campaign.name}}</p>
                </div>
              </stats-card>
            </router-link>
          </div>
        </div>
      </div>
    </div>

    <invite-members-modal/>
  </div>
</template>

<script>
  import axios from 'axios'
  import {mapFields} from 'vee-validate'
  import StatsCard from './../../../UIComponents/Cards/StatsCard.vue'
  import InviteMembersModal from './../Invitation/InviteMembersModal.vue'

  export default {
    components: {
      StatsCard,
      InviteMembersModal
    },
    data () {
      return {
        projectName: '',
        projectMembers: [],
        projectCampaigns: [],
        destination: 'project',
        destinationId: this.$route.params.projectid
      }
    },
    methods: {
      getCampaignOverviewLink (campaignid) {
        return {
          workspaceid: this.$route.params.workspaceid,
          teamid: this.$route.params.teamid,
          projectid: this.$route.params.projectid,
          campaignid: campaignid
        }
      },
      fetchData () {
        const self = this;

        let workspaceId = self.$route.params.workspaceid
        let teamId = self.$route.params.teamid
        let projectId = self.$route.params.projectid

        axios.get('/api/project/' + projectId)
          .then(({ data }) => {
            self.projectName = data.name
          });

        axios.get('/api/project/' + projectId + '/members')
          .then(({ data }) => {
            self.projectMembers = data;
          });

        axios.get('/api/project/' + projectId + '/campaigns')
          .then(({ data }) => {
            self.projectCampaigns = data;
          });
      },
      createNewCampaignModal () {
        let parentApp = this

        this.$modal.show({
          data () {
            return {
              model: {
                campaignName: null
              },
              modelValidations: {
                campaignName: {
                  required: true
                }
              }
            }
          },
          computed: {
            ...mapFields(['campaignName']),
            isComplete () {
              return this.model.campaignName;
            }
          },
          template: `
            <div class="example-modal-content">
              <form>
                <div class="custom-modal-header">
                  <div class="custom-modal-wrapper">
                    <h4>Create New Campaign</h4>
                  </div>
                </div>
                <div class="custom-modal-content">
                  <div class="custom-modal-wrapper">
                    <div class="form-group">
                      <label>Campaign Name</label>
                      <input type="text"
                            name="campaignName"
                            v-validate="modelValidations.campaignName"
                            v-model="model.campaignName"
                            data-vv-as="Campaign Name"
                            class="form-control" autofocus>
                      <small class="text-danger" v-show="campaignName.invalid">
                        {{ getError('campaignName') }}
                      </small>
                    </div>
                  </div>
                </div>
                <div class="custom-modal-footer">
                  <div class="custom-modal-wrapper">
                    <button type="button" class="btn btn-primary" @click="closeModalCampaign">Close</button>
                    <button class="btn btn-success pull-right" type="submit" @click.prevent="createCampaign" :disabled="!isComplete">Create Campaign</button>
                  </div>
                </div>
              </form>
            </div>
          `,
          methods: {
            closeModalCampaign () {
              this.$modal.hide('newCampaignModal');
            },
            getError (fieldName) {
              return this.errors.first(fieldName)
            },
            createCampaign () {
              const self = this;

              let workspaceId = self.$route.params.workspaceid
              let teamId = self.$route.params.teamid
              let projectId = self.$route.params.projectid

              this.$validator.validateAll().then(isValid => {
                axios.post('/workspace/' + workspaceId + '/team/' + teamId + '/project/' + projectId + '/campaign', {
                  name: this.model.campaignName,
                  workspace_id: workspaceId,
                  team_id: teamId,
                  project_id: projectId
                })
                .then(({ data }) => {
                  parentApp.projectCampaigns.push(data);
                }).catch(function (error) {
                  //
                }).then(function () {
                  self.$modal.hide('newCampaignModal');
                });
              });
            }
          }
        }, null, {
          name: 'newCampaignModal'
        });
      },
      inviteMembersModal () {
        this.$nextTick(() => {
          this.$modal.show('invite-members-modal')
        })
      }
    },
    watch: {
      // call again the method if the route changes
      '$route': 'fetchData'
    },
    created () {
      this.fetchData()
    }
  }
</script>

<style lang="scss">
  .v--modal-box{
    height: auto !important;
  }
  .example-modal-content{
    .custom-modal-wrapper{
      margin: 20px;
    }
    .custom-modal-header{
      border-bottom: 1px solid #e8e7e3;
    }
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .15s
  }

  .fade-enter,
  .fade-leave-to/* .fade-leave-active in <2.1.8 */
  {
    opacity: 0
  }

  .el-tag{
    margin-left: 0px;
    margin-bottom: 0px;
  }
</style>
