<template>
  <modal name="invite-members-modal" transition="pop-out" :width="modalWidth" :height="400" style="z-index: 10000">
    <div class="modal-content">
      <form>
        <div class="custom-modal-header">
          <div class="custom-modal-wrapper">
            <h4>Invite Members</h4>
          </div>
        </div>
        <div class="custom-modal-content">
          <div class="custom-modal-wrapper">
            <div class="form-group">
              <label>Emails</label>
              <textarea
                placeholder="Email separated with comma"
                rows="3"
                v-model="model.invitationEmails"
                v-validate="modelValidations.invitationEmails"
                name="invitationEmails"
                data-vv-as="Email"
                class="form-control"></textarea>
              <small class="text-danger" v-show="invitationEmails.invalid">
                {{ getError('invitationEmails') }}
              </small>
            </div>
          </div>
        </div>
        <div class="custom-modal-footer">
          <div class="custom-modal-wrapper">
            <button type="button" class="btn btn-primary" @click="closeModal">Close</button>
            <button class="btn btn-success pull-right" type="submit" @click.prevent="inviteMembers" :disabled="!isComplete">Send Invitation</button>
          </div>
        </div>
      </form>
    </div>
  </modal>
</template>

<script>
  const MODAL_WIDTH = 656
  import axios from 'axios'
  import swal from 'sweetalert2'
  import {mapFields} from 'vee-validate'

  export default {
    name: 'InviteMembersModal',
    data () {
      return {
        modalWidth: MODAL_WIDTH,
        model: {
          invitationEmails: ''
        },
        modelValidations: {
          invitationEmails: {
            required: true
          }
        }
      }
    },
    computed: {
      ...mapFields(['invitationEmails']),
      isComplete () {
        return this.model.invitationEmails
      }
    },
    created () {
      this.modalWidth = window.innerWidth < MODAL_WIDTH
        ? MODAL_WIDTH / 2
        : MODAL_WIDTH
    },
    methods: {
      closeModal () {
        this.clearForm()
      },
      getError (fieldName) {
        return this.errors.first(fieldName)
      },
      inviteMembers () {
        const self = this;

        this.$validator.validateAll().then(isValid => {
          axios.post('/api/invitation/send/' + self.$parent.destination + '/' + self.$parent.destinationId, {
            emails: self.model.invitationEmails
          })
          .then(({ data }) => {
            switch (self.$parent.destination) {
              case 'workspace':
                data.forEach(function (member) {
                  self.$parent.workspaceMembers.push(member)
                })
                break;
              case 'team':
                data.forEach(function (member) {
                  self.$parent.teamMembers.push(member)
                })
                break;
              case 'project':
                data.forEach(function (member) {
                  self.$parent.projectMembers.push(member)
                })
                break;
              case 'campaign':
                data.forEach(function (member) {
                  self.$parent.campaignMembers.push(member)
                })
                break;
            }
          }).catch(function (error) {
            //
          }).then(function () {
            self.clearForm()
          })
        })
      },
      clearForm () {
        this.model.invitationEmails = ''

        this.$modal.hide('invite-members-modal')
      }
    }
  }
</script>

<style lang="scss">
  .v--modal-box{
    height: auto !important;
  }
  .modal-content{
    .custom-modal-wrapper{
      margin: 20px;
    }
    .custom-modal-header{
      border-bottom: 1px solid #e8e7e3;
    }
  }
</style>
