<template>
  <div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>{{ $t('message.welcome') }}</h1>

        <!-- <VideoJSRecord /> -->
      </div>
    </div>
  </div>
</template>
<script>
  import axios from 'axios';
  import VideoJSRecord from './../Utilities/VideoJSRecord.vue';

  export default {
    /**
     * Chart data used to render stats, charts. Should be replaced with server data
     */
    data () {
      return {}
    },
    components: {
      VideoJSRecord
    }
  }
</script>

<style>
</style>
