<template>
  <li :class="[isFolder ? 'folder' : 'file']">
    <a v-if="isParent"
      :class="{'open': open}"
      @click="toggle"
      @dblclick="changeType">
      <i :class="model.icon"></i>
      <p>{{ model.name }}
        <b class="caret"></b>
      </p>
    </a>
    <div v-if="isTeam" class="list-container">
      <a v-if="isTeam" class="team"
        :class="{'open': open}"
        @click="toggle"
        @dblclick="changeType">
        <p>
          <i class="fa fa-circle"></i>
            {{ model.name }}
        </p>
      </a>
      <el-dropdown trigger="click" menu-align="end">
        <span class="el-dropdown-link">
          <i class="fa fa-ellipsis-h"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>
            <a @click="manageTeamModal" href="javascript:void(0)">Manage Team</a>
            </el-dropdown-item>
          <el-dropdown-item>
            <a href="javascript:void(0)" @click="deleteTeam(model.teamId, model.name)">Delete Team</a>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <div v-if="isProject" class="list-container">
      <router-link v-if="isProject" 
        class="project"
        :to="{ name: 'Campaign Overview', params: getCampaignOverviewLink(model.workspaceId, model.teamId, model.projectId) }"
        tag="a">
        <p>
          {{ model.name }}
        </p>
      </router-link>
      <el-dropdown trigger="click" menu-align="end">
        <span class="el-dropdown-link">
          <i class="fa fa-ellipsis-h"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>
            <a @click="manageProjectModal" href="javascript:void(0)">Manage Project</a>
          </el-dropdown-item>
          <el-dropdown-item>
            <a href="javascript:void(0)" @click="deleteProject(model.projectId, model.name)">Delete Project</a>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <ul v-show="open" v-if="isFolder" :class="{'open': open}">
      <sidebar-item
        v-for="(model, index) in model.children"
        :key="index"
        :model="model">
      </sidebar-item>
      <li v-if="isTeamFolder" :class="{'add btn-team': isTeamFolder}">
        <label @click="createNewTeamModal" style="cursor:pointer;">ADD TEAM</label>
      </li>
      <li v-if="isProjectFolder" :class="{'add btn-project': isProjectFolder}">
        <label @click="createNewProjectModal(model.workspaceId, model.teamId)" style="cursor:pointer;">ADD PROJECT</label>
      </li>
    </ul>
  </li>
</template>

<script>
  import Vue from 'vue'
  import axios from 'axios'
  import swal from 'sweetalert2'
  import {mapFields} from 'vee-validate'
  import {Dropdown, DropdownMenu, DropdownItem, Tabs, TabPane} from 'element-ui'

  Vue.use(Dropdown)
  Vue.use(DropdownMenu)
  Vue.use(DropdownItem)
  Vue.use(Tabs)
  Vue.use(TabPane)

  export default {
    name: 'sidebar-item',
    props: {
      model: {
        type: Object
      }
    },
    data () {
      return {
        open: false
      }
    },
    computed: {
      isFolder () {
        return this.model.children && this.model.children.length;
      },
      isParent () {
        if(!this.model.type){
          return true;
        }
        return false;

      },
      isTeamFolder () {
        if(this.model.children[0].type == 'team'){
          return true;
        }
        return false;
      },
      isProjectFolder () {
        if(this.model.children[0].type == 'project'){
          return true;
        }
        return false;
      },
      isTeam () {
        if(this.model.type == 'team' && this.model.name != ''){
          return true;
        }
        return false;
      },
      isProject () {
        if(this.model.type == 'project' && this.model.name != ''){
          return true;
        }
        return false;
      }
    },
    methods: {
      getCampaignOverviewLink (workspaceid, teamid, projectid) {
        return {
          workspaceid: workspaceid,
          teamid: teamid,
          projectid: projectid
        }
      },
      toggle () {
        if (this.isFolder) {
          this.open = !this.open;
        }
      },
      changeType () {
        if (!this.isFolder) {
          Vue.set(this.model, "children", []);
          this.addChild();
          this.open = true;
        }
      },
      deleteTeam (teamid, name) {
        var self = this;

        swal({
          title: `Delete Team ${name}?`,
          text: `You won't be able to revert this!`,
          type: 'warning',
          showCancelButton: true,
          confirmButtonClass: 'btn btn-success btn-fill',
          cancelButtonClass: 'btn btn-danger btn-fill',
          confirmButtonText: 'Yes, delete it!',
          buttonsStyling: false
        }).then(function () {
          axios.delete('/api/team/' + teamid).then(() => {
            swal({
              title: 'Deleted!',
              text: 'Team data has been deleted.',
              type: 'success',
              confirmButtonClass: 'btn btn-success btn-fill',
              buttonsStyling: false
            });
          });
          
          if(self.$route.params.teamid !== undefined)
          {
            if (teamid == self.$route.params.teamid) {
              axios.get('/api/utilities/' + self.$route.params.workspaceid + '/get-first-team').then(({ data }) => {
                if (data !== '') {
                    self.$router.push({
                      name: 'Team Overview',
                      params: {
                        workspaceid: self.$route.params.workspaceid,
                        teamid: data
                      }
                    });
                } else {
                  self.$router.push({ name: 'Dashboard' });
                }
              });
            } else {
              self.$router.go();
            }
          } else {
            self.$router.go();
          }
        }, function (dismiss) {
          //
        });
      },
      deleteProject(projectid, name, index) {
        var self = this;
        
        swal({
          title: `Delete Project ${name}?`,
          text: `You won't be able to revert this!`,
          type: 'warning',
          showCancelButton: true,
          confirmButtonClass: 'btn btn-success btn-fill',
          cancelButtonClass: 'btn btn-danger btn-fill',
          confirmButtonText: 'Yes, delete it!',
          buttonsStyling: false
        }).then(function () {
          axios.delete('/api/project/' + projectid).then(() => {
            swal({
              title: 'Deleted!',
              text: 'Project data has been deleted.',
              type: 'success',
              confirmButtonClass: 'btn btn-success btn-fill',
              buttonsStyling: false
            });
          });

          var workspaceid = self.$route.params.workspaceid;
          var teamid = self.$route.params.teamid;

          if(self.$route.params.projectid !== undefined)
          {
            if (projectid == self.$route.params.projectid) {
              axios.get('/api/utilities/' + self.$route.params.teamid + '/get-first-project').then(({ data }) => {
                if (data !== '') {
                    self.$router.push({
                      name: 'Campaign Overview',
                      params: {
                        workspaceid: workspaceid,
                        teamid: teamid,
                        projectid: data
                      }
                    });
                } else {
                  self.$router.push({ name: 'Dashboard' });
                }
              });
            } else {
              self.$router.go();
            }
          } else {
            self.$router.go();
          }
        }, function (dismiss) {
          //
        });
      },
      addChild() {
      },
      createNewTeamModal () {
        let app = this;
        this.$modal.show({
          data () {
            return {
              model: {
                teamName: null
              },
              modelValidations: {
                teamName: {
                  required: true
                }
              }
            }
          },
          computed: {
            ...mapFields(['teamName']),
            isComplete () {
              return this.model.teamName;
            }
          },
          template: `
            <div class="example-modal-content">
              <form>
                <div class="custom-modal-header">
                  <div class="custom-modal-wrapper">
                    <h4>Create New Team</h4>
                  </div>
                </div>
                <div class="custom-modal-content">
                  <div class="custom-modal-wrapper">
                    <div class="form-group">
                      <label>Team Name</label>
                      <input type="text"
                            name="teamName"
                            v-validate="modelValidations.teamName"
                            v-model="model.teamName"
                            data-vv-as="Team Name"
                            class="form-control" autofocus>
                      <small class="text-danger" v-show="teamName.invalid">
                        {{ getError('teamName') }}
                      </small>
                    </div>
                  </div>
                </div>
                <div class="custom-modal-footer">
                  <div class="custom-modal-wrapper">
                    <button type="button" class="btn btn-primary" @click="closeModalTeam">Close</button>
                    <button class="btn btn-success pull-right" type="submit" @click.prevent="createTeam" :disabled="!isComplete">Create Team</button>
                  </div>
                </div>
              </form>
            </div>
          `,
          methods: {
            closeModalTeam () {
              this.$modal.hide('newTeamModal');
            },
            getError (fieldName) {
              return this.errors.first(fieldName)
            },
            createTeam () {
              var self = this;
              this.$validator.validateAll().then(isValid => {
                axios.post('/api/workspace/' + self.$route.params.workspaceid + '/team', {
                  name: this.model.teamName
                })
                .then(({ data }) => {
                  self.$router.push({
                    name: 'Team Overview',
                    params: {
                      workspaceid: self.$route.params.workspaceid,
                      teamid: data.id
                    }
                  });
                }).catch(function (error) {
                  //
                }).then(function () {
                  self.$modal.hide('newTeamModal');
                });
              })
            }
          }
        }, null, {
          name: 'newTeamModal'
        });
      },
      createNewProjectModal (workspaceId, teamId) {
        this.$modal.show({
          data () {
            return {
              model: {
                projectName: null
              },
              modelValidations: {
                projectName: {
                  required: true
                }
              }
            }
          },
          computed: {
            ...mapFields(['projectName']),
            isComplete () {
              return this.model.projectName;
            }
          },
          template: `
            <div class="example-modal-content">
              <form>
                <div class="custom-modal-header">
                  <div class="custom-modal-wrapper">
                    <h4>Create New Project</h4>
                  </div>
                </div>
                <div class="custom-modal-content">
                  <div class="custom-modal-wrapper">
                    <div class="form-group">
                      <label>Project Name</label>
                      <input type="text"
                            name="projectName"
                            v-validate="modelValidations.projectName"
                            v-model="model.projectName"
                            data-vv-as="Project Name"
                            class="form-control" autofocus>
                      <small class="text-danger" v-show="projectName.invalid">
                        {{ getError('projectName') }}
                      </small>
                    </div>
                  </div>
                </div>
                <div class="custom-modal-footer">
                  <div class="custom-modal-wrapper">
                    <button type="button" class="btn btn-primary" @click="closeModalProject">Close</button>
                    <button class="btn btn-success pull-right" type="submit" @click.prevent="createProject" :disabled="!isComplete">Create Project</button>
                  </div>
                </div>
              </form>
            </div>
          `,
          methods: {
            closeModalProject () {
              this.$modal.hide('newProjectModal');
            },
            getError (fieldName) {
              return this.errors.first(fieldName)
            },
            createProject () {
              var self = this;
              this.$validator.validateAll().then(isValid => {
                axios.post('/api/team/' + teamId + '/project', {
                  name: this.model.projectName
                })
                .then(({ data }) => {
                  self.$router.push({
                    name: 'Campaign Overview',
                    params: {
                      workspaceid: workspaceId,
                      teamid: teamId,
                      projectid: data.id
                    }
                  });
                }).catch(function (error) {
                  //
                }).then(function () {
                  self.$modal.hide('newProjectModal');
                });
              });
            }
          }
        }, null, {
          name: 'newProjectModal'
        });
      },
      manageTeamModal (index) {
        let oModel = this.model;

        this.$modal.show({
          data () {
            return {
              team: {
                teamName: oModel.name,
                workspaceName: oModel.workspaceName,
                emails: '',
                members: []
              },
              modelValidations: {
                teamName: {
                  required: true
                },
                emails: {
                  required: true
                }
              },
              activeName: 'general',
              draggable: true,
              adaptive: true,
              resizable: true
            }
          },
          computed: {
            ...mapFields(['teamName', 'emails']),
            isComplete () {
              return this.team.teamName;
            },
            isCompleteEmails () {
              return this.team.emails;
            }
          },
          template: `
            <div class="example-modal-content">
              <form>
                <div class="custom-modal-header">
                  <div class="custom-modal-wrapper">
                    <h4>Team Settings</h4>
                    <el-tabs v-model="activeName">
                      <el-tab-pane label="General" name="general">
                        <div class="form-group">
                          <label>Workspace</label>
                          <p>{{ team.workspaceName }}</p>
                        </div>
                        <div class="form-group">
                          <label>Team Name</label>
                          <input type="text"
                                name="teamName"
                                v-validate="modelValidations.teamName"
                                v-model="team.teamName"
                                data-vv-as="Team Name"
                                class="form-control" autofocus>
                          <small class="text-danger" v-show="teamName.invalid">
                            {{ getError('teamName') }}
                          </small>
                        </div>
                        <div class="custom-modal-footer" style="padding-top: 20px;">
                          <button type="button" class="btn btn-primary" @click="closeModalTeam">Close</button>
                          <button class="btn btn-success pull-right" type="submit" @click.prevent="updateTeam" :disabled="!isComplete">Update Team</button>
                        </div>
                      </el-tab-pane>
                      <el-tab-pane label="Members" name="members">
                        <div class="members-wrapper">
                          <div class="member" v-for="(member, index) in team.members">
                            <div class="data">
                              <div class="picture">
                                <img src="/img/faces/face-2.jpg"/>
                              </div>
                              <div class="info">
                                <b>{{ member.name }}</b>
                                <br>
                                <small>{{ member.email }}</small>
                              </div>
                            </div>
                            <div class="tools" v-if="member.role == 'member'">
                              <a class="delete-link pull-right" @click.prevent="removeMember(index, member)"><small>Remove Member</small></a>
                            </div>
                          </div>
                        </div>
                        <div class="custom-modal-footer" style="padding-top: 20px;border-top: 1px solid #e0e6e8" id="emailInput">
                          <div class="form-group">
                            <label>Add More member via email</label>
                            <textarea
                              placeholder="Email separated with comma"
                              rows="2"
                              v-model="team.emails"
                              v-validate="modelValidations.emails"
                              name="emails"
                              data-vv-as="Email"
                              class="form-control"></textarea>
                            <small class="text-danger" v-show="emails.invalid">
                              {{ getError('emails') }}
                            </small>
                          </div>
                          <button class="btn btn-success pull-right" type="submit" @click.prevent="inviteMembers" :disabled="!isCompleteEmails">Send Invitation</button>
                        </div>
                      </el-tab-pane>
                    </el-tabs>
                  </div>
                </div>
              </form>
            </div>
          `,
          methods: {
            closeModalTeam () {
              this.$modal.hide('newManageTeamModal');
            },
            getError (fieldName) {
              return this.errors.first(fieldName)
            },
            updateTeam () {
              const self = this;

              this.$validator.validateAll().then(isValid => {
                axios.put('/api/team/' + oModel.teamId, {
                  name: self.team.teamName
                })
                .then(() => {
                  oModel.name = self.team.teamName;

                  /**
                   * Update teamName inside the loop
                   * of the project
                   */
                  if (oModel.children.length > 0) {
                    oModel.children.forEach((i) => {
                      i.teamName = oModel.name;
                    });
                  }
                }).catch(function (error) {
                  //
                }).then(function () {
                  //
                });
              })
            },
            inviteMembers () {
              const self = this;

              this.$validator.validateAll().then(isValid => {
                axios.post('/api/invitation/send/team/' + oModel.teamId, {
                  emails: self.team.emails
                })
                .then(({ data }) => {
                  data.forEach(function (member) {
                    self.team.members.push(member)
                  });
                }).catch(function (error) {
                  //
                }).then(function () {
                  //
                })
              });
            },
            removeMember (index, member) {
              const self = this;

              swal({
                title: `Remove ${member.name} from team?`,
                text: `You won't be able to revert this!`,
                type: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success btn-fill',
                cancelButtonClass: 'btn btn-danger btn-fill',
                confirmButtonText: 'Yes, remove it!',
                buttonsStyling: false
              }).then(function () {
                axios.delete('/api/team/revoke/' + oModel.teamId + '/' + member.id).then(() => {
                  swal({
                    title: 'Removed!',
                    text: 'User has been removed from team.',
                    type: 'success',
                    confirmButtonClass: 'btn btn-success btn-fill',
                    buttonsStyling: false
                  });
                }).catch(function (error) {
                  //
                }).then(function () {
                  self.team.members.splice(index, 1);
                });
              }, function (dismiss) {
                //
              });
            }
          },
          created () {
            const self = this;
            axios.get('/api/team/' + oModel.teamId + '/members').then(({ data }) => {
              self.team.members = data;
            });
          }
        }, null, {
          name: 'newManageTeamModal'
        });
      },
      manageProjectModal () {
        let oModel = this.model;

        this.$modal.show({
          data () {
            return {
              project: {
                projectName: oModel.name,
                teamName: oModel.teamName,
                workspaceName: oModel.workspaceName,
                emails: '',
                members: []
              },
              modelValidations: {
                projectName: {
                  required: true
                },
                emails: {
                  required: true
                }
              },
              activeName: 'general',
              draggable: true,
              adaptive: true,
              resizable: true
            }
          },
          computed: {
            ...mapFields(['projectName', 'emails']),
            isComplete () {
              return this.project.projectName;
            },
            isCompleteEmails () {
              return this.project.emails;
            }
          },
          template: `
            <div class="example-modal-content">
              <form>
                <div class="custom-modal-header">
                  <div class="custom-modal-wrapper">
                    <h4>Project Settings</h4>
                    <el-tabs v-model="activeName">
                      <el-tab-pane label="General" name="general">
                        <div class="form-group">
                          <label>Workspace</label>
                          <p>{{ project.workspaceName }}</p>
                        </div>
                        <div class="form-group">
                          <label>Team Name</label>
                          <p>{{ project.teamName }}</p>
                        </div>
                        <div class="form-group">
                          <label>Project Name</label>
                          <input type="text"
                                name="projectName"
                                v-model="project.projectName"
                                data-vv-as="Project Name"
                                class="form-control" autofocus>
                          <small class="text-danger" v-show="projectName.invalid">
                            {{ getError('projectName') }}
                          </small>
                        </div>
                        <div class="custom-modal-footer" style="padding-top: 20px;">
                          <button type="button" class="btn btn-primary" @click="closeModalProject">Close</button>
                          <button class="btn btn-success pull-right" type="submit" @click.prevent="updateProject" :disabled="!isComplete">Update Project</button>
                        </div>
                      </el-tab-pane>
                      <el-tab-pane label="Members" name="members">
                        <div class="members-wrapper">
                          <div class="member" v-for="(member, index) in project.members">
                            <div class="data">
                              <div class="picture">
                                <img src="/img/faces/face-2.jpg"/>
                              </div>
                              <div class="info">
                                <b>{{ member.name }}</b>
                                <br>
                                <small>{{ member.email }}</small>
                              </div>
                            </div>
                            <div class="tools" v-if="member.role == 'member'">
                              <a class="delete-link pull-right" @click.prevent="removeMember(index, member)"><small>Remove Member</small></a>
                            </div>
                          </div>
                        </div>
                        <div class="custom-modal-footer" style="padding-top: 20px;border-top: 1px solid #e0e6e8" id="emailInput">
                          <div class="form-group">
                            <label>Add More member via email</label>
                            <textarea
                              placeholder="Email separated with comma"
                              rows="2"
                              v-model="project.emails"
                              v-validate="modelValidations.emails"
                              name="emails"
                              data-vv-as="Email"
                              class="form-control"></textarea>
                              <small class="text-danger" v-show="emails.invalid">
                                {{ getError('emails') }}
                              </small>
                          </div>
                          <button class="btn btn-success pull-right" type="submit" @click.prevent="inviteMembers" :disabled="!isCompleteEmails">Send Invitation</button>
                        </div>
                      </el-tab-pane>
                    </el-tabs>
                  </div>
                </div>
              </form>
            </div>
          `,
          methods: {
            closeModalProject () {
              this.$modal.hide('newManageProjectModal');
            },
            getError (fieldName) {
              return this.errors.first(fieldName)
            },
            updateProject () {
              var self = this;
              this.$validator.validateAll().then(isValid => {
                axios.put('/api/project/' + oModel.projectId, {
                  name: self.project.projectName
                })
                .then(({ res }) => {
                  oModel.name = self.project.projectName
                }).catch(function (error) {
                  //
                }).then(function () {
                  //
                });
              });
            },
            inviteMembers () {
              const self = this;

              this.$validator.validateAll().then(isValid => {
                axios.post('/api/invitation/send/project/' + oModel.projectId, {
                  emails: self.project.emails
                })
                .then(({ data }) => {
                  data.forEach(function (member) {
                    self.project.members.push(member)
                  });
                }).catch(function (error) {
                  //
                }).then(function () {
                  //
                })
              });
            },
            removeMember (index, member) {
              const self = this;

              swal({
                title: `Remove ${member.name} from project?`,
                text: `You won't be able to revert this!`,
                type: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success btn-fill',
                cancelButtonClass: 'btn btn-danger btn-fill',
                confirmButtonText: 'Yes, remove it!',
                buttonsStyling: false
              }).then(function () {
                axios.delete('/api/project/revoke/' + oModel.projectId + '/' + member.id).then(() => {
                  swal({
                    title: 'Removed!',
                    text: 'User has been removed from project.',
                    type: 'success',
                    confirmButtonClass: 'btn btn-success btn-fill',
                    buttonsStyling: false
                  });
                }).catch(function (error) {
                  //
                }).then(function () {
                  self.project.members.splice(index, 1);
                });
              }, function (dismiss) {
                //
              });
            }
          },
          created () {
            const self = this;
            axios.get('/api/project/' + oModel.projectId + '/members')
            .then(({ data }) => {
              self.project.members = data;
            });
          }
        }, null, {
          name: 'newManageProjectModal'
        });
      }
    }
  }
</script>

<style lang="scss">
  .v--modal-box{
    height: auto !important;
  }
  .example-modal-content{
    .custom-modal-wrapper{
      margin: 20px;
    }
    .custom-modal-header{
      border-bottom: 1px solid #e8e7e3;
    }
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .15s
  }

  .fade-enter,
  .fade-leave-to/* .fade-leave-active in <2.1.8 */
  {
    opacity: 0
  }

  .el-tag{
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .el-dropdown{
    color: inherit;
    font-size: inherit;
    vertical-align: middle;
  }
  
  .el-popper li a{
    color: #66615b;
    margin-left: 5px;
  }

  .el-tabs__item{
    color: #66615b;
  }
  
  .v--modal-box.v--modal{
    top: calc((100vh - 526px)/2) !important;
  }

  .members-wrapper{
    max-height: 250px;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: .4em;
    }
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      overflow:visible;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(0,0,0,.2);
    }

    .member{
      margin-bottom:15px;
      .data{
        display: inline-block;
        vertical-align: middle;
        width:calc(100% - 100px);

        .picture{
          display: inline-block;
          vertical-align: middle;
          margin: 0px 10px;

          img{
            height: 35px;
            width: 35px;
            border-radius: 25px;
          }
        }

        .info{
          display: inline-block;
          vertical-align: middle;
        }
      }

      .tools{
        display: inline-block;
        vertical-align: middle;
        cursor:pointer;

        a{
          color:#66615b;
          transition: all ease-in-out .3s;
        }
      }
    }
  }

  .sidebar-mini .sidebar .sidebar-wrapper > .cd-accordion-menu [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal,
  .sidebar-mini .sidebar .sidebar-wrapper .user .info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal,
  .sidebar-mini .sidebar .sidebar-wrapper .user .info > a > span,
  .sidebar-mini .sidebar .sidebar-wrapper > .cd-accordion-menu li > a p,
  .sidebar-mini .sidebar .sidebar-wrapper > .cd-accordion-menu li > ul > li {
    -webkit-transform: translate3d(-25px, 0, 0);
    -moz-transform: translate3d(-25px, 0, 0);
    -o-transform: translate3d(-25px, 0, 0);
    -ms-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
    opacity: 0;
  }

  .sidebar-mini .sidebar:hover .sidebar-wrapper > .cd-accordion-menu li > a p,
  .sidebar-mini .sidebar:hover .sidebar-wrapper > .cd-accordion-menu [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal,
  .sidebar-mini .sidebar:hover .sidebar-wrapper .user .info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal,
  .sidebar-mini .sidebar:hover .sidebar-wrapper .user .info > a > span,
  .sidebar-mini .sidebar:hover .sidebar-wrapper > .cd-accordion-menu li > ul > li {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    opacity: 1;
  }

  .sidebar .cd-accordion-menu a,
  .sidebar .cd-accordion-menu .collapse i,
  .sidebar .cd-accordion-menu li > ul > li,
  .sidebar .cd-accordion-menu .collapse a > span,
  .sidebar .sidebar-wrapper > .cd-accordion-menu p,
  .sidebar .user .info > a > span,
  .sidebar .user .info .collapse .cd-accordion-menu a > span,
  .sidebar .logo a.logo-mini, .sidebar .logo a.logo-normal,
  .table > tbody > tr .td-actions .btn, .caret{
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
  }
</style>
