<template>
  <div :class="sidebarClasses"
       :data-background-color="backgroundColor"
       :data-active-color="activeColor">
    <div class="logo">
      <a class="simple-text logo-mini"
         href="/dashboard">
        <div class="logo-img">
          <img :src="logo" alt="">
        </div>
      </a>
      <a class="simple-text logo-normal"
         href="/dashboard">
          {{ title }}
      </a>
    </div>
    <div class="sidebar-wrapper" ref="sidebarScrollArea">
      <slot></slot>

      <ul :class="navClasses">
        <slot name="links">
          <sidebar-item v-for="(link, index) in sidebarLinks"
                        :key="link.name + index"
                        :link="link">

            <sidebar-item v-for="(subLink, index) in link.children"
                          :key="subLink.name + index"
                          :link="subLink">
            </sidebar-item>
          </sidebar-item>
        </slot>
      </ul>

      <ul class="cd-accordion-menu">
        <threemenu-item :model="treeData"></threemenu-item>
      </ul>
    </div>
  </div>
</template>
<script>
  import ThreemenuItem from './../../UIComponents/SidebarPlugin/MyLinkItem.vue'
  import axios from 'axios'

  export default {
    data () {
      return {
        treeData : {
          name: "TEAM",
          icon: 'ti-user',
          children: []
        }
      }
    },
    components: {
      ThreemenuItem
    },
    props: {
      title: {
        type: String,
        default: saassone.appName
      },
      type: {
        type: String,
        default: 'sidebar',
        validator: (value) => {
          let acceptedValues = ['sidebar', 'navbar']
          return acceptedValues.indexOf(value) !== -1
        }
      },
      backgroundColor: {
        type: String,
        default: 'default',
        validator: (value) => {
          let acceptedValues = ['white', 'brown', 'black', 'default']
          return acceptedValues.indexOf(value) !== -1
        }
      },
      activeColor: {
        type: String,
        default: 'default',
        validator: (value) => {
          let acceptedValues = ['default', 'primary', 'info', 'success', 'warning', 'danger']
          return acceptedValues.indexOf(value) !== -1
        }
      },
      logo: {
        type: String,
        default: '/img/' + saassone.logoDirectory + '/icon.png'
      },
      sidebarLinks: {
        type: Array,
        default: () => []
      }
    },
    computed: {
      sidebarClasses () {
        if (this.type === 'sidebar') {
          return 'sidebar'
        } else {
          return 'collapse navbar-collapse off-canvas-sidebar'
        }
      },
      navClasses () {
        if (this.type === 'sidebar') {
          return 'nav'
        } else {
          return 'nav navbar-nav'
        }
      }
    },
    methods: {
      fetchData () {
        axios.get('/api/links/' + this.$route.params.workspaceid).then(({ data }) => {
          this.treeData.children = data;
        });
      },
      async initScrollBarAsync () {
        await import('perfect-scrollbar/dist/css/perfect-scrollbar.css')
        const PerfectScroll = await import('perfect-scrollbar')
        PerfectScroll.initialize(this.$refs.sidebarScrollArea)
      },
      toggleSidebar () {
        if (this.$sidebar.showSidebar) {
          this.$sidebar.displaySidebar(false)
        }
      }
    },
    mounted () {
      this.initScrollBarAsync()
    },
    beforeDestroy () {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.showSidebar = false
      }
    },
    watch: {
      // call again the method if the route changes
      '$route': 'fetchData'
    },
    created () {
      this.fetchData()
    }
  }
</script>
<style>
  .sidebar .sidebar-wrapper .cd-accordion-menu .caret,
  .off-canvas-sidebar .sidebar-wrapper .cd-accordion-menu .caret{
    margin-top: 12px;
    position: absolute;
    right: 1px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ol, ul {
    list-style: none;
    padding: 0px;
  }

  a {
    color: #a0f6aa;
    text-decoration: none;
  }

  h1 {
    text-align: center;
    width: 90%;
    margin: 2em auto 0;
    color: #507b55;
    font-weight: bold;
  }

  .cd-accordion-menu li {
    user-select: none;
  }

  .cd-accordion-menu li ul li:hover {
    color: #fff;
    cursor: default;
  }

  .cd-accordion-menu li span {
      float: right;
  }

  .cd-accordion-menu label, .cd-accordion-menu a {
    position: relative;
    display: block;
    margin: 10px 0px 0px;
    padding: 10px 25px;
    opacity: .7;
    white-space: nowrap;
    color: #FFFFFF;
    cursor: pointer;
  }

  .cd-accordion-menu .el-dropdown span {
    opacity: .7;
    color: #FFFFFF;
    margin: 5px 0px;
  }

  .cd-accordion-menu .el-dropdown span:hover {
    opacity: 1;
  }

  .no-touch .cd-accordion-menu label:hover,
  .no-touch .cd-accordion-menu a:hover {
    background: #52565d;
  }
  .cd-accordion-menu label::before,
  .cd-accordion-menu label::after,
  .cd-accordion-menu a::after {
    /* icons */
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .cd-accordion-menu label {
    font-weight: 600;
    font-size: 12px;
  }

  .cd-accordion-menu li.file > label::before {
  content: "\f15b";
  }

  .cd-accordion-menu li.file > label::before {
  content: "\f15b";
  }
  .cd-accordion-menu li.add > label::before {
    content: "\f067";
  }


  .cd-accordion-menu label::before {
    /* arrow icon */
    font: normal normal normal 14px/1 FontAwesome;
    left: 18px;
    transform: translateY(-50%);
    transition: transform 0.3s;
  }
  .cd-accordion-menu label.open::before {
    transform: translateY(-25%) rotate(90deg);
  }

  .no-touch .cd-accordion-menu ul label:hover,
  .no-touch .cd-accordion-menu ul a:hover {
    background: #3c3f45;
  }
  .cd-accordion-menu > li:last-of-type > label,
  .cd-accordion-menu > li:last-of-type > a,
  .cd-accordion-menu > li > ul > li:last-of-type label,
  .cd-accordion-menu > li > ul > li:last-of-type a {
    box-shadow: none;
  }
  .cd-accordion-menu ul label::before {
    left: 5px;
  }
  .cd-accordion-menu ul ul label,
  .cd-accordion-menu ul ul a {
    padding-left: 80px;
  }
  .cd-accordion-menu ul ul ul label,
  .cd-accordion-menu ul ul ul a {
    padding-left: 118px;
  }
  .cd-accordion-menu ul ul ul label::before {
    left: 72px;
  }
  .cd-accordion-menu ul ul ul label::after,
  .cd-accordion-menu ul ul ul a::after {
    left: 95px;
  }

 .cd-accordion-menu>li>a>i{
       font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
  }

  .cd-accordion-menu p{
    margin: 0;
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    opacity: 1;
    display: block;
    height: auto;
    white-space: nowrap;
  }

  .cd-accordion-menu .team b, .cd-accordion-menu .project b{
    margin-top: 12px;
    position: absolute;
    right: -5px;
  }

  .cd-accordion-menu li:hover > a, .cd-accordion-menu li:hover > a, .cd-accordion-menu li:active > a,  .cd-accordion-menu li:focus > a{
    opacity: 1;
  }

  .cd-accordion-menu .list-container{
    padding: 5px 20px 5px 65px;
    margin:0px;
  }

  .cd-accordion-menu .list-container label, .cd-accordion-menu .list-container a{
    padding:0px;
    margin:0px;
    display: inline-block;
    line-height: 30px;
  }

  .cd-accordion-menu .project{
    width: calc(100% - 47px);
    font-size: 10px;
    margin-left:22px !important;
  }

  .cd-accordion-menu .team{
    width: calc(100% - 25px);
  }

  .cd-accordion-menu li:active>.list-container>a, .cd-accordion-menu li:focus>.list-container>a, .cd-accordion-menu li:hover>.list-container>a{
    opacity: 1;
  }

  .cd-accordion-menu .btn-team{
    padding-left: 65px;
  }

  .cd-accordion-menu .btn-team label{
    padding: 11px 25px;
    margin:0px;
  }

  .cd-accordion-menu .btn-project{
    font-size: 10px;
    padding-left: 86px;
  }

  .cd-accordion-menu .btn-project label{
    padding: 11px 25px;
    margin:0px;
  }

  .ellipsis{
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  @media (min-width: 992px) {
    .navbar-search-form-mobile,
    .nav-mobile-menu{
      display: none;
    }
  }
</style>
