<template>
  <div class="card">
    <div class="card-header">
      <h4 class="title">Edit Role</h4>
    </div>
    <div class="card-content">
      <form>
        <div class="row">
          <div class="col-md-6">
            <fg-input type="text"
                      label="Name"
                      placeholder="Name"
                      v-model="role.name">
            </fg-input>
            <fg-input type="text"
                      label="Guard"
                      placeholder="Guard"
                      v-model="role.guard_name">
            </fg-input>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Permissions</label>
              <span v-for="permission in permissions">
                <p-checkbox v-model="role.permissions" v-bind:value="permission.id">{{permission.name}}</p-checkbox>
              </span>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-default btn-fill btn-wd" @click="$router.go(-1)">
            Back
          </button>
          <button type="submit" class="btn btn-info btn-fill btn-wd" @click.prevent="updateRole">
            Update Role
          </button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</template>
<script>
  import axios from 'axios'
  import swal from 'sweetalert2'

  export default {
    data () {
      return {
        roleId: null,
        role: {
          name: '',
          guard_name: '',
          permissions: []
        },
        permissions: []
      }
    },
    methods: {
      updateRole () {
        var app = this;
        axios.put('/api/admin/access-control/role/' + app.roleId, {name: this.role.name, guard_name: this.role.guard_name, permissions: this.role.permissions}).then(() => {
          swal({
            title: `Success!`,
            text: `Role was updated!`,
            buttonsStyling: false,
            confirmButtonClass: 'btn btn-success btn-fill',
            type: 'success'
          });

          app.$router.push({ name: 'Roles' });
        }).catch(function (error) {
          //
        }).then(function () {
          //
        });
      }
    },
    mounted () {
      let app = this;
      let id = app.$route.params.id;
      app.roleId = id;

      axios.get('/api/admin/access-control/role/' + id).then(({ data }) => {
        app.role = data;
      });

      axios.get('/api/admin/access-control/permissions').then(({ data }) => {
        this.permissions = data;
      });
    }
  }
</script>
<style>

</style>
