<template>
  <div class="card">
    <div class="card-header">
      <h4 class="title">Create Permission</h4>
    </div>
    <div class="card-content">
      <form>
        <div class="row">
          <div class="col-md-6">
            <fg-input type="text"
                      label="Name"
                      placeholder="Name"
                      v-model="role.name">
            </fg-input>
          </div>
          <div class="col-md-6">
            <fg-input type="text"
                      label="Guard"
                      placeholder="Guard"
                      v-model="role.guard_name">
            </fg-input>
          </div>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-default btn-fill btn-wd" @click="$router.go(-1)">
            Back
          </button>
          <button type="submit" class="btn btn-info btn-fill btn-wd" @click.prevent="savePermission">
            Save Permission
          </button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</template>
<script>
  import axios from 'axios'
  import swal from 'sweetalert2'

  export default {
    data () {
      return {
        role: {
          name: '',
          guard_name: ''
        }
      }
    },
    methods: {
      savePermission () {
        var app = this;
        axios.post('/api/admin/access-control/permission/store', {name: this.role.name, guard_name: this.role.guard_name}).then(() => {
          swal({
            title: `Success!`,
            text: `Permission was saved!`,
            buttonsStyling: false,
            confirmButtonClass: 'btn btn-success btn-fill',
            type: 'success'
          });

          app.$router.push({ name: 'Permissions' });
        }).catch(function (error) {
          //
        }).then(function () {
          //
        });
      }
    }
  }
</script>
<style>

</style>
