<template>
  <div>
    <header>
      <Row>
        <Col :span="6">
          <h3 class="minisite-project-title">
            [Project Name]
          </h3>
          <button class="btn btn-icon" style="margin: 23.5px 0px 8.5px;" @click="$router.back()">
            <span class="ti-angle-left"></span>
          </button>
          <optin-switch></optin-switch>
        </Col>
        <Col :span="12">
          <h1 class="minisite-campaign-title">
            [Campaign Name]
          </h1>
        </Col>
        <Col :span="6" class="text-right">
          <div class="member-wrapper" style="margin:21.5px 0px 6.5px 0px">
            <a href="#" class="add-member-link"><small> Campaign Members +</small></a><br>
            <ul class="member-list">
              <li v-for="i in 5" :key="i">
                <img src="http://www.meug.be/wp-content/uploads/2017/05/Team-Member.jpg">
              </li>
            </ul>
          </div>
          <div class="minisite-action">
            <button class="btn btn-icon" style="margin: 23.5px 0px 8.5px;" @click="$router.back()"><span class="ti-settings"></span> Setting</button>
            <button class="btn btn-icon" style="margin: 23.5px 0px 8.5px;" @click="$router.back()"><span class="ti-eye"></span> Preview</button>
          </div>
        </Col>
      </Row>
    </header>
    <section>
      <slot></slot>
    </section>
  </div>
</template>

<script>
import { Row, Col } from 'element-ui'
import OptinSwitch from './blocks/OptInSetting'
export default {
  components: {
    Row,
    Col,
    OptinSwitch
  },
  props: {
    title: {
      type: String,
      default: 'Your page Title'
    }
  }
}
</script>

<style lang="scss">
.minisite-campaign-title {
  color: #333;
  margin-top: 15px;
  margin-bottom: 30px;
}

.minisite-project-title {
  color: #333;
  font-weight: bold;
}

.member-list {
  margin-top: 10px;
  list-style: none;

  > li {
    display: inline-block;
    margin-right: 5px;

    > img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
}
.add-member-link {
  font-weight: bold;
  color: #479CD3;
  font-size: 16px;
}

.minisite-action {
  position: absolute;
  right: 50px;
  top: 100px;
  text-align: center;

  .btn {
    display: block;
  }
}
</style>
