<template>
  <div>
    <div class="row">
      <div class="col-md-12" style="margin-bottom: 20px;">
        <div class="row">
          <div class="col-md-4">
            <router-link :to="{ name: 'Campaign Overview', params: getCampaignOverviewLink() }" style="margin:23.5px 0px 8.5px 0px" class="btn btn-icon" tag="button">
                <span class="ti-angle-left"></span> {{projectName}}
            </router-link>
          </div>
          <div class="col-md-4 col-xs-4">
            <h4 class="title" style="text-align:center">[Campaign Name]</h4>
          </div>
          <div class="col-md-4 col-xs-4" style="text-align: right;">
            <div class="member-wrapper" style="margin:21.5px 0px 6.5px 0px">
              <a @click="inviteMembersModal" class="link"><small> Campaign Members +</small></a><br>
              <div class="member-photo">
                <img src="/img/faces/face-3.jpg"/>
              </div>
              <div class="member-photo">
                <img src="/img/faces/face-3.jpg"/>
              </div>
              <div class="member-photo">
                <img src="/img/faces/face-3.jpg"/>
              </div>
              <div class="member-photo">
                <img src="/img/faces/face-3.jpg"/>
              </div>
              <div class="member-photo">
                <img src="/img/faces/face-3.jpg"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="funnel">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="create-campaign-wrapper">
                <div class="row">
                  <div class="col-md-12">
                    <div class="campaign-content-wrapper" @click="headerModal" style="cursor: pointer;">
                      <h3 style="margin: 0;">Create Your Header Here</h3>
                      <p>Edit Header With Image</p>
                      <p>{{headerModal.model}}</p>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="campaign-content-wrapper">
                      <p>Select your videos here!</p>
                      <img src="https://kriya-materials.com/wp-content/uploads/2018/01/Play-Button-Transparent-PNG-300x300.png"  style="height: 100px; margin-bottom: 20px; cursor: pointer;" @click="videoModal"/>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="campaign-content-wrapper" style="height: 100px; padding: 0;">
                      <img src="http://savings.gov.pk/wp-content/plugins/ldd-directory-lite/public/images/noimage.png" style="width: 100%;">
                      <p style="position: absolute; top: 30px; left: 38px; font-size: 13px; width: 75px;">
                        Take your picture here.
                      </p>
                    </div>
                  </div>
                  <div class="col-md-8"  @click="contentModal" style="cursor: pointer;">
                    <div class="campaign-content-wrapper" style="min-height: 100px; padding: 0;">
                      <h6 style="margin: 0 0 10px 0; text-align: left;">
                        Write your title here!
                      </h6>
                      <p style="font-size: 12px; text-align: left;">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                      </p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div style="height: 100px; display: flex; justify-content: space-around; flex-direction: column;">
                      <div class="campaign-content-wrapper" style="height: 20px; padding: 0; margin: 0;">
                        <p style="font-size: 8px;">
                          Social media
                        </p>
                      </div>
                      <div class="campaign-content-wrapper" style="height: 20px; padding: 0; margin: 0;">
                        <p style="font-size: 8px">
                          Social media
                        </p>
                      </div>
                      <div class="campaign-content-wrapper" style="height: 20px; padding: 0; margin: 0;">
                        <p style="font-size: 8px">
                          Social media
                        </p>
                      </div>
                      <div class="campaign-content-wrapper" style="height: 20px; padding: 0; margin: 0;">
                        <p style="font-size: 8px">
                          Social media
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="campaign-content-wrapper" style="min-height: 100px; padding: 0;">
                      <p style="font-size: 16px; margin-top: 30px;">
                        Column Comment
                      </p>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="campaign-content-wrapper" style="padding: 10px 0 5px 0; border-width: 0;">
                      <button class="btn btn-info btn-fill btn-sm" @click="buttonModal">
                        Create Button
                      </button>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="campaign-content-wrapper" style="padding: 10px 0 5px 0;">
                      <p style="font-size: 8px;">
                        Copyright 2018 Digital One. All Rights Reserved. Terms of Service | Privacy Policy.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-info btn-sm" style="width: 100px; margin-top: 15px; float: right;">
                Save
              </button>
            </div>
          </div>
        </div>
        <div style="display: inline-block; vertical-align:top; margin-top: 32px; float: right">
          <button class="btn btn-icon">
            Settings
          </button><br><br>
          <button class="btn btn-icon">
            Share
          </button>
        </div>
      </div>
    </div>

    <invite-members-modal/>
  </div>
</template>
<script>
  import axios from 'axios'
  import {mapFields} from 'vee-validate'
  import InviteMembersModal from './../Invitation/InviteMembersModal.vue'
  import CircleChartCard from './../../../UIComponents/Cards/CircleChartCard.vue'
  import StatsCard from './../../../UIComponents/Cards/StatsCard.vue'
  import VueFroala from 'vue-froala-wysiwyg'
  import {Select, Option} from 'element-ui'
  import {FormGroupInput as FgInput} from 'element-ui'

  export default {
    components: {
      StatsCard,
      CircleChartCard,
      InviteMembersModal,
    },
    /**
     * Chart data used to render stats, charts. Should be replaced with server data
     */
    data () {
      return {
        headerTitle: "",
        campaignMembers: [],
        destination: 'campaign',
        destinationId: this.$route.params.campaignid,
        projectName: this.$route.params.projectName,
        statsCards: [
          {
            type: 'warning',
            icon: 'ti-layout-list-post',
            title: 'Quiz',
            value: '',
            footerText: 'Last Update: 27 days ago',
            footerIcon: 'ti-calendar'
          },
          {
            type: 'success',
            icon: 'ti-video-camera',
            title: 'Video',
            value: '',
            footerText: 'Last Update: 27 days ago',
            footerIcon: 'ti-calendar'
          },
          {
            type: 'danger',
            icon: 'ti-email',
            title: 'Email',
            value: '',
            footerText: 'Last Update: 27 days ago',
            footerIcon: 'ti-calendar'
          }
        ]
      }
    },
    methods: {
      fetchData () {
        const self = this;
        let workspaceId = self.$route.params.workspaceid
        let teamId = self.$route.params.teamid
        let projectId = self.$route.params.projectid
        let campaignId = self.$route.params.campaignid

        axios.get('/api/workspace/' + workspaceId + '/team/' + teamId + '/project/' + projectId + '/campaign/' + campaignId + '/members')
          .then(({ data }) => {
            self.campaignMembers = data;
          });
      },
      getCampaignOverviewLink () {
        return {
          workspaceid: this.$route.params.workspaceid,
          teamid: this.$route.params.teamid,
          projectid: this.$route.params.projectid,
          campaignid: this.$route.params.campaignid
        }
      },
      inviteMembersModal () {
        this.$nextTick(() => {
          this.$modal.show('invite-members-modal')
        })
      },
      headerModal() {
        this.$modal.show({
          data () {
            return {
              model: "",
              config: {
                placeholderText: 'Write something..',
                charCounterCount: false,
                immediateVueModelUpdate: true,
                toolbarButtons: [
                  'fontFamily', '|', 'fontSize', '|', 'bold', 'italic', 'underline', 'color', '|', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', 'insertImage'
                ],
                height: 200,
                events: {
                  'froalaEditor.initialized': function () {
                    console.log('initialized', this.model)
                  },
                  'froalaEditor.html.get': function(e, editor, html) {
                    this.model = html;
                  }
                },
              }
            }
          },
          template: `
            <div class="example-modal-content">
              <div class="custom-modal-header">
                <div class="custom-modal-wrapper">
                    <h4>
                      Write Your Title
                      <span>
                        <i class="fa fa-times times pull-right" @click="closeHeaderModal"></i>
                      </span>
                    </h4>
                    
                </div>
              </div>
              <div class="custom-modal-content">
                <div class="campaign-content-wrapper" style="padding: 10px;">
                  <froala :tag="'textarea'" :config="config" v-model="model"></froala>
                </div
              </div>
              <div class="custom-modal-footer">
                <div class="custom-modal-wrapper">
                  <button class="btn btn-success btn-sm pull-right" type="submit" @click.prevent="createHeaderTitle" style="margin-bottom: 20px;">
                    Create
                  </button>
                </div>
              </div>
            </div>
          `,
          methods: {
            closeHeaderModal () {
              this.$modal.hide('headerModal');
            },
            createHeaderTitle() {
              console.log(this.model)
              this.closeHeaderModal();
            }
          }
        }, null, {
          name: 'headerModal'
        })
      },
      contentModal() {
        this.$modal.show({
          data () {
            return {
              model: "",
              config: {
                placeholderText: 'Write something..',
                charCounterCount: false,
                immediateVueModelUpdate: true,
                toolbarButtons: [
                  'fontFamily', '|', 'fontSize', '|', 'bold', 'italic', 'underline', 'color', '|', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote'
                ],
                height: 200,
                events: {
                  'froalaEditor.initialized': function () {
                    console.log('initialized', this.model)
                  },
                  'froalaEditor.html.get': function(e, editor, html) {
                    this.model = html;
                  }
                },
              }
            }
          },
          template: `
            <div class="example-modal-content">
              <div class="custom-modal-header">
                <div class="custom-modal-wrapper">
                    <h4>
                      Write Your Title
                      <span>
                        <i class="fa fa-times times pull-right" @click="closeContentModal"></i>
                      </span>
                    </h4>
                    
                </div>
              </div>
              <div class="custom-modal-content">
                <div class="campaign-content-wrapper" style="padding: 10px;">
                  <froala :tag="'textarea'" :config="config" v-model="model"></froala>
                </div
              </div>
              <div class="custom-modal-footer">
                <div class="custom-modal-wrapper">
                  <button class="btn btn-success btn-sm pull-right" type="submit" @click.prevent="createContent" style="margin-bottom: 20px;">
                    Create
                  </button>
                </div>
              </div>
            </div>
          `,
          methods: {
            closeContentModal () {
              this.$modal.hide('contentModal');
            },
            createContent() {
              console.log(this.model)
              this.closeContentModal();
            }
          }
        }, null, {
          name: 'contentModal'
        })
      },
      videoModal() {
        this.$modal.show({
          data () {
            return {
              model: "",
            }
          },
          template: `
            <div class="example-modal-content">
              <div class="custom-modal-header">
                <div class="custom-modal-wrapper">
                    <h4>
                      Your Video
                      <span>
                        <i class="fa fa-times times pull-right" @click="closeVideoModal"></i>
                      </span>
                    </h4>
                    
                </div>
              </div>
              <div class="custom-modal-content">
                <div class="row" style="background-color: #eeeeee; padding: 10px; margin: 10px; border-radius: 3px; height: 400px;">
                  <div class="col-md-4">
                    <div class="main-video-wrapper">
                      <p class="font-blue bold" style="margin-left: -15px;">
                        Library
                      </p>
                      <div class="row editor-wrapper" style="height: 280px; overflow-y: scroll;">
                        <div class="col-md-6">
                          <div class="editor-wrapper" style="height: 100px">
                          </div>
                          <p style="text-align: center;">
                            Video 01
                          </p>
                        </div>
                        <div class="col-md-6">
                          <div class="editor-wrapper" style="height: 100px">
                          </div>
                          <p style="text-align: center;">
                            Video 02
                          </p>
                        </div>
                        <div class="col-md-6">
                          <div class="editor-wrapper" style="height: 100px">
                          </div>
                          <p style="text-align: center;">
                            Video 03
                          </p>
                        </div>
                        <div class="col-md-6">
                          <div class="editor-wrapper" style="height: 100px">
                          </div>
                          <p style="text-align: center;">
                            Video 04
                          </p>
                        </div>
                        <div class="col-md-6">
                          <div class="editor-wrapper" style="height: 100px">
                          </div>
                          <p style="text-align: center;">
                            Video 05
                          </p>
                        </div>
                        <div class="col-md-6">
                          <div class="editor-wrapper" style="height: 100px">
                          </div>
                          <p style="text-align: center;">
                            Video 06
                          </p>
                        </div>
                        <div class="col-md-6">
                          <div class="editor-wrapper" style="height: 100px">
                          </div>
                          <p style="text-align: center;">
                            Video 07
                          </p>
                        </div>
                        <div class="col-md-6">
                          <div class="editor-wrapper" style="height: 100px">
                          </div>
                          <p style="text-align: center;">
                            Video 08
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="main-video-wrapper">
                          <p  class="font-blue bold">
                            Create Your Video
                          </p>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="video-wrapper editor-wrapper" style="height: 280px;">
                              </div>
                            </div>
                          </div>
                          <div class="row" style="margin-top: 10px;">
                            <div class="col-md-5 col-md-offset-1">
                              <p class="font-blue" style="font-size: 14px;">
                                Start: <span><input type="text" class="form-control" placeholder="00:00:00" name="start" style="width: 65%; height: 20px; float: right; font-size: 14px; padding: 5px;"></span>
                              <p>
                            </div>
                            <div class="col-md-5">
                              <p class="font-blue" style="font-size: 14px;">
                                End: <span><input type="text" class="form-control" placeholder="00:00:00" name="end" style="width: 65%; height: 20px; float: right; font-size: 14px; padding: 5px;"></span>
                              <p>
                            </div>
                          </div>
                          <hr style="border-color: #a0a0a0; margin: 10px 0;">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <button class="btn btn-xs btn-fill" style="margin: 35px 0;" @click="importVideoModal">
                          Import
                        </button>
                        <br>
                        <div>
                          <p style="font-size: 14px;">
                            Trigger:
                          </p>
                          <div class="checkbox">
                            <input id="timer" type="checkbox">
                            <label class="font-blue" for="timer">
                              Timer <span><input type="text" class="form-control" placeholder="00:00:00" name="timer" style="width: 70%; height: 20px; float: right; font-size: 14px; padding: 5px;"></span>
                            </label>
                          </div>
                          <div class="checkbox">
                            <input id="clock" type="checkbox">
                            <label class="font-blue" for="clock">
                              Clock
                            </label>
                          </div>
                        </div>
                        <div>
                          <p style="font-size: 14px;">
                            Action:
                          </p>
                          <div class="n-radio radio radio-neutral">
                            <input id="url" type="radio" value="url" v-model="picked">
                            <label for="url">
                              <input type="text" class="form-control" placeholder="URL" name="timer" style="height: 20px; font-size: 14px; padding: 5px;">
                            </label>
                          </div>
                          <div class="n-radio radio radio-neutral" v-model="picked">
                            <input id="next" type="radio" value="next">
                            <label class="font-blue" for="next">
                              Next video
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="height: 60px; background-color: #E7F5FB; padding: 10px; margin: 10px; border-radius: 3px;">
                  <div class="col-md-12">
                    <p class="font-blue bold" style="margin-top: 7px; text-align: center;">
                      New Video +
                    </p>
                  </div>
                </div>
              </div>
              <div class="custom-modal-footer">
                <div class="custom-modal-wrapper">
                  <button class="btn btn-success btn-sm pull-right" type="submit" @click.prevent="createVideo" style="margin-bottom: 20px;">
                    Create
                  </button>
                </div>
              </div>
            </div>
          `,
          methods: {
            closeVideoModal () {
              this.$modal.hide('videoModal');
            },
            createVideo() {
              console.log(this.model)
              this.closeVideoModal();
            },
            importVideoModal() {
              this.$modal.show({
                data () {
                  return {
                    model: "",
                  }
                },
                template: `
                  <div class="example-modal-content">
                    <div class="custom-modal-header">
                      <div class="custom-modal-wrapper">
                          <h4>
                            Video Library
                            <span>
                              <i class="fa fa-times times pull-right" @click="closeModal"></i>
                            </span>
                          </h4>
                          
                      </div>
                    </div>
                    <div class="custom-modal-content">
                    <br>
                    <div class="row" style="width: 90%; display: block; margin: auto;">
                        <div class="col-md-10" style="padding-left: 0;">
                          <input type="text" class="form-control" placeholder="Enter URL" v-model="inputURL">
                        </div>
                        <div class="col-md-2" style="padding-left: 0;">
                          <button class="btn btn-default" type="submit" @click.prevent="createHeaderTitle" style="margin-bottom: 20px;">
                            Search
                          </button>
                        </div>
                      </div>
                      <div class="row editor-wrapper" style="height: 280px; width: 90%; display: block; margin: auto; overflow-y: scroll; padding: 10px; border: solid 1px #e8e7e3">
                        <div class="col-md-4">
                          <div class="editor-wrapper" style="height: 100px">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="editor-wrapper" style="height: 100px">
                          </div>
                          <p style="text-align: center;">
                            Video 01
                          </p>
                        </div>
                        <div class="col-md-4">
                          <div class="editor-wrapper" style="height: 100px">
                          </div>
                          <p style="text-align: center;">
                            Video 02
                          </p>
                        </div>
                        <div class="col-md-4">
                          <div class="editor-wrapper" style="height: 100px">
                          </div>
                          <p style="text-align: center;">
                            Video 03
                          </p>
                        </div>
                        <div class="col-md-4">
                          <div class="editor-wrapper" style="height: 100px">
                          </div>
                          <p style="text-align: center;">
                            Video 04
                          </p>
                        </div>
                        <div class="col-md-4">
                          <div class="editor-wrapper" style="height: 100px">
                          </div>
                          <p style="text-align: center;">
                            Video 05
                          </p>
                        </div>
                        <div class="col-md-4">
                          <div class="editor-wrapper" style="height: 100px">
                          </div>
                          <p style="text-align: center;">
                            Video 06
                          </p>
                        </div>
                        <div class="col-md-4">
                          <div class="editor-wrapper" style="height: 100px">
                          </div>
                          <p style="text-align: center;">
                            Video 07
                          </p>
                        </div>
                        <div class="col-md-4">
                          <div class="editor-wrapper" style="height: 100px">
                          </div>
                          <p style="text-align: center;">
                            Video 08
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="custom-modal-footer">
                      <div class="custom-modal-wrapper">
                        <button class="btn btn-default btn-sm pull-right" type="submit" style="margin-bottom: 20px;">
                          Import
                        </button>
                      </div>
                    </div>
                  </div>
                `,
                methods: {
                  closeModal () {
                    this.$modal.hide('importVideoModal');
                  }
                }
              }, null, {
                name: 'importVideoModal'
              })
            },
          }
        }, null, {
          name: 'videoModal',
          width: '90%',
          height: 'auto',
          scrollable: true,
        })
      },
      buttonModal() {
        this.$modal.show({
          data () {
            return {
              buttonText: "Your text here",
              isBold: false,
              isItalic: false,
              buttonFontSize: 12,
              fontColor: "#FFFFFF",
              horizontalPadding: 10,
              verticalPadding: 5,
              cornerRadius: 0,
              borderColor: "#FFFFFF",
              buttonColor: "#169ED8",
              selects: {
                simple: '',
                fonts: [
                  {value: 'Calibri', label: 'Calibri'},
                  {value: 'Times New Roman', label: 'Times New Roman'},
                  {value: 'Arial', label: 'Arial'},
                ],
              }
            }
          },
          template: `
            <div class="example-modal-content">
              <div class="custom-modal-header">
                <div class="custom-modal-wrapper">
                    <h4>
                      Create Button
                      <span>
                        <i class="fa fa-times times pull-right" @click="closeButtonModal"></i>
                      </span>
                    </h4>
                    
                </div>
              </div>
              <div class="custom-modal-content">
                <div class="row" style="padding: 10px 20px;">
                  <div class="col-md-4">
                    <div class="editor-wrapper">
                      <div class="row">
                        <div class="col-md-12">
                          <p>Text</p>
                          <input type="text" class="form-control" placeholder="Your text here" v-model="buttonText">
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-12">
                          <p>Font</p>
                          <el-select class="select-default" placeholder="Select Font" v-model="selects.simple">
                            <el-option v-for="option in selects.fonts" class="select-default" :value="option.value" :label="option.label" :key="option.label">
                            </el-option>
                          </el-select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="checkbox">
                            <input id="bold" type="checkbox" v-model="isBold">
                            <label for="bold">
                              <b>Bold</b>
                            </label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="checkbox">
                            <input id="italic" type="checkbox" v-model="isItalic">
                            <label for="italic">
                              <i>Italic</i>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <p>
                            Size
                          </p>
                          <div class="input-group">
                            <input type="button" value="-" class="button-minus" data-field="quantity" @click="buttonFontSizeMin">
                            <input type="number" step="1" min="0" v-model="buttonFontSize" name="quantity" class="quantity-field">
                            <input type="button" value="+" class="button-plus" data-field="quantity" @click="buttonFontSizePlus">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <p>
                            Color
                          </p>
                          <div class="form__input">
                            <swatches v-model="fontColor" colors="text-advanced" popover-to="right"></swatches>
                          </div>  
                        </div>
                      </div>
                    </div>
                    <div class="editor-wrapper">
                      <div class="row">
                        <div class="col-md-6">
                          <p>
                            Horizontal Padding
                          </p>
                        </div>
                        <div class="col-md-6">
                          <div class="input-group" style="margin: 0;">
                            <input type="button" value="-" class="button-minus" data-field="quantity" @click="horizontalPaddingMin">
                            <input type="number" step="1" min="0" v-model="horizontalPadding" name="quantity" class="quantity-field">
                            <input type="button" value="+" class="button-plus" data-field="quantity" @click="horizontalPaddingPlus">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <p>
                            Vertical Padding
                          </p>
                        </div>
                        <div class="col-md-6">
                          <div class="input-group" style="margin: 0;">
                            <input type="button" value="-" class="button-minus" data-field="quantity" @click="verticalPaddingMin">
                            <input type="number" step="1" min="0" v-model="verticalPadding" name="quantity" class="quantity-field">
                            <input type="button" value="+" class="button-plus" data-field="quantity" @click="verticalPaddingPlus">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="editor-wrapper">
                      <div class="row">
                        <div class="col-md-6">
                          <p>
                            Corner Radius
                          </p>
                        </div>
                        <div class="col-md-6">
                          <div class="input-group" style="margin: 0;">
                            <input type="button" value="-" class="button-minus" data-field="quantity" @click="cornerRadiusMin">
                            <input type="number" step="1" min="0" v-model="cornerRadius" name="quantity" class="quantity-field">
                            <input type="button" value="+" class="button-plus" data-field="quantity" @click="cornerRadiusPlus">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <p>
                            Border Color
                          </p>
                        </div>
                        <div class="col-md-6">
                          <div class="form__input">
                            <swatches v-model="borderColor" colors="text-advanced" popover-to="right"></swatches>
                          </div>  
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <p>
                            Button Color
                          </p>
                        </div>
                        <div class="col-md-6">
                          <div class="form__input">
                            <swatches v-model="buttonColor" colors="text-advanced" popover-to="right"></swatches>
                          </div>  
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="editor-wrapper">
                      <p>
                        Preview
                      </p>
                      <div style="padding: 30px 0;">
                        <button class="btn" v-bind:style="{display: 'block', margin: 'auto', fontSize: buttonFontSize+'px', color: fontColor, paddingLeft: horizontalPadding+'px', paddingRight: horizontalPadding+'px', paddingTop: verticalPadding+'px', paddingBottom: verticalPadding+'px', borderRadius: cornerRadius+'px', borderColor: borderColor, backgroundColor: buttonColor}">
                          {{buttonText}}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="custom-modal-footer">
                <div class="custom-modal-wrapper">
                  <button class="btn btn-success btn-sm pull-right" type="submit" @click.prevent="createButton" style="margin-bottom: 20px;">
                    Create
                  </button>
                </div>
              </div>
            </div>
          `,
          methods: {
            closeButtonModal () {
              this.$modal.hide('buttonModal');
            },
            createButton() {
              console.log(this.model)
              this.closeButtonModal();
            },
            buttonFontSizeMin(){
              if(this.buttonFontSize > 0){
                this.buttonFontSize = this.buttonFontSize - 1 
              }
            },
            buttonFontSizePlus(){
              this.buttonFontSize = this.buttonFontSize + 1
            },
            horizontalPaddingMin(){
              if(this.buttonFontSize > 0){
                this.horizontalPadding = this.horizontalPadding - 1
              }
            },
            horizontalPaddingPlus(){
              this.horizontalPadding = this.horizontalPadding + 1
            },
            verticalPaddingMin(){
              if(this.buttonFontSize > 0){
                this.verticalPadding = this.verticalPadding -1
              }
            },
            verticalPaddingPlus(){
              this.verticalPadding = this.verticalPadding + 1
            },
            cornerRadiusMin(){
              if(this.buttonFontSize > 0){
                this.cornerRadius = this.cornerRadius - 1
              }
            },
            cornerRadiusPlus(){
              this.cornerRadius = this.cornerRadius + 1
            }
          }
        }, null, {
          name: 'buttonModal',
          width: '90%',
          height: 'auto',
          scrollable: true,
        })
      }
    },
    watch: {
      // call again the method if the route changes
      '$route': 'fetchData'
    },
    created () {
      this.fetchData()
    }
  }

</script>
<style lang="scss">
  .v--modal-box{
    max-height: 850px !important;
  }
  .example-modal-content{
    .custom-modal-wrapper{
      margin: 20px;
    }
    .custom-modal-header{
      border-bottom: 1px solid #e8e7e3;
    }
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .15s
  }

  .fade-enter,
  .fade-leave-to/* .fade-leave-active in <2.1.8 */
  {
    opacity: 0
  }

  .el-tag{
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .member-wrapper{
    text-align: right;
    .member-photo{
      display: inline;
      img{
        border-radius: 25px;
        width: auto;
        height: 20px;
        border-width: 2px;
        border-color: #a10100;
      }
    }
  }

  .funnel{
    width: calc(100% - 100px);
    display: inline-block;
    vertical-align:top;
  }

  .create-campaign-wrapper{
    border: 1px solid #d3d3d3;
    background-color: #fff;
    padding: 30px 15% 0px 15%;
    .campaign-content-wrapper{
      margin-bottom: 20px; 
      border: 1px solid #d3d3d3;
      text-align: center;
      padding: 30px 0 30px 0;
    }
  }

  .main-panel{
    .back-button{
      width: 59px;
      display: inline;
      padding: 5px 15px 15px 17px;
      vertical-align:top;
    }
    .side-content{
      width: calc(100% - 85px);
      display: inline-block;
      vertical-align:top;
    }
  }

  .socmed-wrapper{
    margin-bottom: 20px;
    .socmed-button{
      display: inline-block;
      vertical-align: middle;
      padding: 5px 5px;
      border-radius: 25px;
      transition: all ease-in-out .3s;
      img{
        height: 50px;
        width: 50px;
        border-radius: 25px;
        transition: all ease-in-out .3s;
      }
      &:hover img, &:active img{
        border: 4px solid #000;
      }
    }
  }

  .editor-wrapper{
    background-color: #FFFFFF;
    border: solid 1px #eeeeee; 
    border-radius: 3px; 
    padding: 10px; 
    margin-bottom: 10px;
  }

  .el-input__suffix{
    margin-top: 15px;
  }

  input,
  textarea {
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 10px;
  }

  input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .input-group {
    clear: both;
    margin: 15px 0;
    position: relative;
  }

  .input-group input[type='button'] {
    background-color: #eeeeee;
    min-width: 38px;
    width: auto;
    transition: all 300ms ease;
  }

  .input-group .button-minus,
  .input-group .button-plus {
    font-weight: bold;
    height: 38px;
    padding: 0;
    width: 38px;
    position: relative;
  }

  .input-group .quantity-field {
    position: relative;
    height: 38px;
    left: -6px;
    text-align: center;
    width: 62px;
    display: inline-block;
    font-size: 13px;
    margin: 0 0 5px;
    resize: vertical;
  }

  .button-plus {
    left: -13px;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
  }

  .vue-swatches__trigger{
    border: solid 2px #c0c4cc;
    border-radius: 3px !important;
    width: 35px !important;
    height: 35px !important;
  }

  .vue-swatches__container{
    left: 40px !important;
    bottom: 0 !important;
  }

  .font-blue{
    text-align: left; 
    color: #169ED8;
  }

  .bold{
    font-weight: bold; 
  }
</style>