<template>
  <div>
    <div class="row">
      <div class="col-md-12" style="margin-bottom: 20px;">
        <div class="row">
          <div class="col-md-12">
            <h4 class="title">{{ project.name }}</h4>
          </div>
          <div class="col-md-6 col-xs-6">
            <button class="btn" @click="createNewCampaignModal">Add new Campaign</button>
          </div>
          <div class="col-md-6 col-xs-6" style="text-align: right;">
            <a @click="manageProjectMembersModal" class="link"  style="text-align: right;"><small> Project Members +</small></a>
            <div class="member-wrapper">
              <div class="member-photo" v-bind:key="member.id" v-for="member in project.members">
                <img src="/img/faces/face-2.jpg" :title="`${member.name}`"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="campaign-wrapper">
          <div class="card" v-show="!campaigns.length">
            <div class="card-header">
              <div class="row">
                <div class="title-wrapper">
                  <div class="title-text">
                    Ops! You have no campaign created yet.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card" v-bind:key="campaign.id" v-for="campaign in campaigns">
            <div class="card-header">
              <div class="row">
              <div class="title-wrapper">
                <div class="title-text">
                  {{ campaign.name }}
                </div>
                <p-switch v-model="switches.defaultOn" type="primary" on-text="On" off-text="Off"></p-switch>
              </div>
              <div class="member-wrapper">
                <a @click="manageCampaignMembersModal(campaign)" class="link"><small> Campaign Members +</small></a>
                <br>
                <div class="member-photo" v-bind:key="member.id" v-for="member in campaign.members">
                  <img src="/img/faces/face-3.jpg" :title="`${member.name}`"/>
                </div>
              </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="info">
                <small><b>Type Campaign&emsp;</b>: {{ campaign.type }}</small><br>
                <small><b>Date&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</b>: {{ campaign.created_at }}</small><br>
                <small><b>Last Update&emsp;&emsp;&nbsp;&nbsp;</b>: {{ campaign.updated_at_relative }}</small>
              </div>
              <div class="tools">
                <a class="link" @click="shareCampaignModal">
                  <small>Share</small>
                </a>
                <a class="link" @click="campaignMinisite(campaign.id)" v-if="campaign">
                  <small>Edit</small>
                </a>
                <a href="#" class="link"><small>Clone</small></a>
                <a href="#" class="link"><small>Delete</small></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <campaign-detail></campaign-detail>
      </div>
    </div>
  </div>
</template>
<script>
  import Vue from 'vue'
  import axios from 'axios'
  import swal from 'sweetalert2'
  import {mapFields} from 'vee-validate'
  import {Table, TableColumn, Tag, Button, RadioGroup, RadioButton, Dropdown, DropdownMenu, DropdownItem, Tabs, TabPane, Switch} from 'element-ui'
  import CampaignDetail from './CampaignDetail.vue'
  import PSwitch from './../../../UIComponents/Switch.vue'

  Vue.use(Table)
  Vue.use(TableColumn)
  Vue.use(Tag)
  Vue.use(Button)
  Vue.use(RadioGroup)
  Vue.use(RadioButton)

  Vue.use(Dropdown)
  Vue.use(DropdownMenu)
  Vue.use(DropdownItem)
  Vue.use(Tabs)
  Vue.use(TabPane)

  Vue.use(Switch)

  export default {
    data () {
      return {
        resizable: false,
        adaptive: false,
        draggable: false,
        canBeShown: false,
        campaigns: [],
        project: {
          name: '',
          members: []
        },
        destination: 'project',
        destinationId: this.$route.params.projectid,
        switches: {
          defaultOn: true
        }
      }
    },
    components: {
      CampaignDetail,
      PSwitch
    },
    methods: {
      fetchData () {
        const self = this;

        let workspaceId = self.$route.params.workspaceid
        let teamId = self.$route.params.teamid
        let projectId = self.$route.params.projectid
        let campaignId = self.$route.params.campaignid

        axios.get('/api/project/' + projectId + '/campaigns')
          .then(({ data }) => {
            self.campaigns = data
          });

        axios.get('/api/project/' + projectId)
          .then(({ data }) => {
            self.project.name = data.name
          });

        axios.get('/api/project/' + projectId + '/members')
          .then(({ data }) => {
            self.project.members = data;
          });
      },
      campaignMinisite(campaignId){
        // console.log(cid);
        // return false;

        this.$router.push({
          name: 'Campaign Minisite',
          params: {
            workspaceid: this.$route.params.workspaceid,
            teamid: this.$route.params.teamid,
            projectid: this.$route.params.projectid,
            campaignid: campaignId
          }
        });
      },
      filterTag (value, row) {
        return row.status === value;
      },
      filterHandler (value, row, column) {
        const property = column['property'];
        return row[property] === value;
      },
      detailsRow (index, rows){
        rows.splice(index, 1);
      },
      deleteRow (index, rows) {
        let indexToDelete = this.tableData.findIndex((tableRow) => tableRow.id === row.id)
        if (indexToDelete >= 0) {
          this.tableData.splice(indexToDelete, 1)
        }
      },
      createDate(value){
        if(value === "Published"){
          return 'info';
        }
        else{
          if(value === "Draft"){
            return 'warning';
          }
          else{
            return 'primary';
          }
        }
      },
      show (resizable, adaptive, draggable) {
        this.resizable = resizable
        this.adaptive = adaptive
        this.draggable = draggable
        /*
          $nextTick is required because the data model with new
          "resizable, adaptive, draggable" values is not updated yet.. eh
        */
        this.$nextTick(() => {
          this.$modal.show('example-modal')
        })
      },
      createNewCampaignModal () {
        let campaigns = this.campaigns;

        this.$modal.show({
          data () {
            return {
              model: {
                campaignName: '',
                template: ''
              },
              modelValidations: {
                campaignName: {
                  required: true
                },
                template: {
                  required: true
                }
              },
              campaignTemplates: []
            }
          },
          computed: {
            ...mapFields(['campaignName', 'template']),
            isComplete () {
              return this.model.campaignName && this.model.template;
            }
          },
          template: `
            <div class="example-modal-content">
              <form>
                <div class="custom-modal-header">
                  <div class="custom-modal-wrapper">
                    <h4>Create New Campaign</h4>
                  </div>
                </div>
                <div class="custom-modal-content">
                  <div class="custom-modal-wrapper">
                    <div class="form-group">
                      <label>Campaign Name</label>
                      <input createDate="text"
                            name="campaignName"
                            v-validate="modelValidations.campaignName"
                            v-model="model.campaignName"
                            data-vv-as="Campaign Name"
                            class="form-control" autofocus>
                      <small class="text-danger" v-show="campaignName.invalid">
                        {{ getError('campaignName') }}
                      </small>
                    </div>
                    <div class="form-group">
                      <label>Template</label><br>
                      <el-radio-group v-model="model.template"
                                      v-bind:key="template.id"
                                      v-for="template in campaignTemplates">
                        <el-radio-button :label="template.id">{{ template.name }}</el-radio-button>
                      </el-radio-group>
                    </div>
                  </div>
                </div>
                <div class="custom-modal-footer">
                  <div class="custom-modal-wrapper">
                    <button type="button" class="btn btn-primary" @click="closeModalCampaign">Close</button>
                    <button class="btn btn-success pull-right" type="submit" @click.prevent="createCampaign" :disabled="!isComplete">Create Campaign</button>
                  </div>
                </div>
              </form>
            </div>
          `,
          methods: {
            closeModalCampaign () {
              this.$modal.hide('newCampaignModal');
            },
            getError (fieldName) {
              return this.errors.first(fieldName)
            },
            createCampaign () {
              var self = this;
              this.$validator.validateAll().then(isValid => {
                axios.post('/api/project/' + self.$route.params.projectid + '/campaign', {
                  name: self.model.campaignName,
                  template_id: self.model.template
                }).then(({ data }) => {
                  campaigns.push(data);
                }).catch(function (error) {
                  //
                }).then(function () {
                  self.$modal.hide('newCampaignModal');
                });
              });
            }
          },
          created () {
            axios.get('/api/campaign/templates').then(({ data }) => {
              this.campaignTemplates = data;
            });
          }
        }, null, {
          name: 'newCampaignModal'
        })
      },
      editCampaignModal () {
        this.$modal.show({
          data () {
            let campaigns = this.campaigns;
            
            return {
              model: {
                campaignId: null,
                campaignName: null,
                template: ''
              },
              modelValidations: {
                campaignName: {
                  required: true
                },
                template: {
                  required: true
                }
              },
              campaignTemplates: []
            }
          },
          computed: {
            ...mapFields(['campaignName']),
            isComplete () {
              return this.model.campaignName;
            }
          },
          template: `
            <div class="example-modal-content">
              <form>
                <div class="custom-modal-header">
                  <div class="custom-modal-wrapper">
                    <h4>Edit Campaign</h4>
                  </div>
                </div>
                <div class="custom-modal-content">
                  <div class="custom-modal-wrapper">
                    <div class="form-group">
                      <label>Campaign Name</label>
                      <input createDate="text"
                            name="campaignName"
                            v-validate="modelValidations.campaignName"
                            v-model="model.campaignName"
                            data-vv-as="Campaign Name"
                            class="form-control" :value="Starbucks" autofocus>
                      <small class="text-danger" v-show="campaignName.invalid">
                        {{ getError('campaignName') }}
                      </small>
                    </div>
                    <div class="form-group">
                      <label for="template">Template</label>
                      <el-radio-group v-model="model.template"
                                      v-bind:key="template.id"
                                      v-for="template in campaignTemplates">
                        <el-radio-button :label="template.id">{{ template.name }}</el-radio-button>
                      </el-radio-group>
                    </div>
                  </div>
                </div>
                <div class="custom-modal-footer">
                  <div class="custom-modal-wrapper">
                    <button createDate="button" class="btn btn-primary" @click="closeModalCampaign">Close</button>
                    <button class="btn btn-success pull-right" type="submit" @click.prevent="updateCampaign" :disabled="!isComplete">Update Campaign</button>
                  </div>
                </div>
              </form>
            </div>
          `,
          methods: {
            closeModalCampaign () {
              this.$modal.hide('newCampaignModal');
            },
            getError (fieldName) {
              return this.errors.first(fieldName)
            },
            updateCampaign () {
              var app = this;
              this.$validator.validateAll().then(isValid => {
                axios.put('/api/campaign/' + self.$route.params.campaignid, {
                  name: this.model.campaignName
                }).then(({ data }) => {
                  app.$router.push({ name: 'Campaign Overview', params: {id: data.id} });
                }).catch(function (error) {
                  //
                }).then(function () {
                  app.$modal.hide('newCampaignModal');
                });
              })
            }
          }
        }, null, {
          name: 'newCampaignModal'
        })
      },
      manageProjectMembersModal () {
        let oProject = this.project;

        this.$modal.show({
          data () {
            return {
              project: {
                emails: '',
                members: oProject.members
              },
              modelValidations: {
                emails: {
                  required: true
                }
              },
              activeName: 'members',
              draggable: true,
              adaptive: true,
              resizable: true
            }
          },
          computed: {
            ...mapFields(['emails']),
            isCompleteEmails () {
              return this.project.emails;
            }
          },
          template: `
            <div class="example-modal-content">
              <form>
                <div class="custom-modal-header">
                  <div class="custom-modal-wrapper">
                    <h4>Manage Members</h4>
                    <el-tabs v-model="activeName">
                      <el-tab-pane label="Members" name="members">
                        <div class="members-wrapper">
                          <div class="member" v-for="(member, index) in project.members">
                            <div class="data">
                              <div class="picture">
                                <img src="/img/faces/face-2.jpg"/>
                              </div>
                              <div class="info">
                                <b>{{ member.name }}</b>
                                <br>
                                <small>{{ member.email }}</small>
                              </div>
                            </div>
                            <div class="tools" v-if="member.role == 'member'">
                              <a class="delete-link pull-right" @click.prevent="removeMember(index, member)"><small>Remove Member</small></a>
                            </div>
                          </div>
                        </div>
                        <div class="custom-modal-footer" style="padding-top: 20px;border-top: 1px solid #e0e6e8" id="emailInput">
                          <div class="form-group">
                            <label>Add More member via email</label>
                            <textarea
                              placeholder="Email separated with comma"
                              rows="2"
                              v-model="project.emails"
                              v-validate="modelValidations.emails"
                              name="emails"
                              data-vv-as="Email"
                              class="form-control"></textarea>
                              <small class="text-danger" v-show="emails.invalid">
                                {{ getError('emails') }}
                              </small>
                          </div>
                          <button class="btn btn-success pull-right" type="submit" @click.prevent="inviteMembers" :disabled="!isCompleteEmails">Send Invitation</button>
                        </div>
                      </el-tab-pane>
                    </el-tabs>
                  </div>
                </div>
              </form>
            </div>
          `,
          methods: {
            getError (fieldName) {
              return this.errors.first(fieldName)
            },
            inviteMembers () {
              const self = this;

              this.$validator.validateAll().then(isValid => {
                axios.post('/api/invitation/send/project/' + self.$route.params.projectid, {
                  emails: self.project.emails
                })
                .then(({ data }) => {
                  data.forEach(function (member) {
                    oProject.members.push(member)
                  });
                }).catch(function (error) {
                  //
                }).then(function () {
                  //
                })
              });
            },
            removeMember (index, member) {
              const self = this;

              swal({
                title: `Remove ${member.name} from project?`,
                text: `You won't be able to revert this!`,
                type: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success btn-fill',
                cancelButtonClass: 'btn btn-danger btn-fill',
                confirmButtonText: 'Yes, remove it!',
                buttonsStyling: false
              }).then(function () {
                axios.delete('/api/project/revoke/' + self.$route.params.projectid + '/' + member.id).then(() => {
                  swal({
                    title: 'Removed!',
                    text: 'User has been removed from project.',
                    type: 'success',
                    confirmButtonClass: 'btn btn-success btn-fill',
                    buttonsStyling: false
                  });
                }).catch(function (error) {
                  //
                }).then(function () {
                  oProject.members.splice(index, 1);
                });
              }, function (dismiss) {
                //
              });
            }
          }
        }, null, {
          name: 'ProjectMembersModal'
        });
      },
      manageCampaignMembersModal (campaign) {
        let oCampaign = campaign;

        this.$modal.show({
          data () {
            return {
              campaign: {
                emails: '',
                members: oCampaign.members
              },
              modelValidations: {
                emails: {
                  required: true
                }
              },
              activeName: 'members',
              draggable: true,
              adaptive: true,
              resizable: true
            }
          },
          computed: {
            ...mapFields(['emails']),
            isCompleteEmails () {
              return this.campaign.emails;
            }
          },
          template: `
            <div class="example-modal-content">
              <form>
                <div class="custom-modal-header">
                  <div class="custom-modal-wrapper">
                    <h4>Manage Members</h4>
                    <el-tabs v-model="activeName">
                      <el-tab-pane label="Members" name="members">
                        <div class="members-wrapper">
                          <div class="member" v-for="(member, index) in campaign.members">
                            <div class="data">
                              <div class="picture">
                                <img src="/img/faces/face-2.jpg"/>
                              </div>
                              <div class="info">
                                <b>{{ member.name }}</b>
                                <br>
                                <small>{{ member.email }}</small>
                              </div>
                            </div>
                            <div class="tools" v-if="member.role == 'member'">
                              <a class="delete-link pull-right" @click.prevent="removeMember(index, member)"><small>Remove Member</small></a>
                            </div>
                          </div>
                        </div>
                        <div class="custom-modal-footer" style="padding-top: 20px;border-top: 1px solid #e0e6e8" id="emailInput">
                          <div class="form-group">
                            <label>Add More member via email</label>
                            <textarea
                              placeholder="Email separated with comma"
                              rows="2"
                              v-model="campaign.emails"
                              v-validate="modelValidations.emails"
                              name="emails"
                              data-vv-as="Email"
                              class="form-control"></textarea>
                              <small class="text-danger" v-show="emails.invalid">
                                {{ getError('emails') }}
                              </small>
                          </div>
                          <button class="btn btn-success pull-right" type="submit" @click.prevent="inviteMembers" :disabled="!isCompleteEmails">Send Invitation</button>
                        </div>
                      </el-tab-pane>
                    </el-tabs>
                  </div>
                </div>
              </form>
            </div>
          `,
          methods: {
            getError (fieldName) {
              return this.errors.first(fieldName)
            },
            inviteMembers () {
              const self = this;

              this.$validator.validateAll().then(isValid => {
                axios.post('/api/invitation/send/campaign/' + oCampaign.id, {
                  emails: self.campaign.emails
                })
                .then(({ data }) => {
                  data.forEach(function (member) {
                    oCampaign.members.push(member)
                  });
                }).catch(function (error) {
                  //
                }).then(function () {
                  //
                })
              });
            },
            removeMember (index, member) {
              const self = this;

              swal({
                title: `Remove ${member.name} from campaign?`,
                text: `You won't be able to revert this!`,
                type: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success btn-fill',
                cancelButtonClass: 'btn btn-danger btn-fill',
                confirmButtonText: 'Yes, remove it!',
                buttonsStyling: false
              }).then(function () {
                axios.delete('/api/campaign/revoke/' + oCampaign.id + '/' + member.id).then(() => {
                  swal({
                    title: 'Removed!',
                    text: 'User has been removed from campaign.',
                    type: 'success',
                    confirmButtonClass: 'btn btn-success btn-fill',
                    buttonsStyling: false
                  });
                }).catch(function (error) {
                  //
                }).then(function () {
                  oCampaign.members.splice(index, 1);
                });
              }, function (dismiss) {
                //
              });
            }
          }
        }, null, {
          name: 'CampaignMembersModal'
        });
      },
      shareCampaignModal () {
        this.$modal.show({
          data () {
            return {
              model: {
                url: ''
              },
              modelValidations: {
                campaignurlName: {
                  required: true
                }
              }
            }
          },
          computed: {
            ...mapFields(['url']),
            isComplete () {
              return this.model.url;
            }
          },
          template: `
            <div class="example-modal-content">
              <form>
                <div class="custom-modal-header">
                  <div class="custom-modal-wrapper">
                    <h4>Share</h4>
                  </div>
                </div>
                <div class="custom-modal-content">
                  <div class="custom-modal-wrapper">
                    <div class="form-group">
                      <label>URL</label>
                      <div class="input-group">
                        <input createDate="text"
                              name="url"
                              v-validate="modelValidations.url"
                              v-model="model.url"
                              data-vv-as="URL"
                              class="form-control"
                              value="blablabla.com/blablabla/intro"
                              readonly>
                        <div class="input-group-addon" >Copy</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Embed</label>
                      <div class="input-group">
                        <input createDate="text"
                              name="embed"
                              v-validate="modelValidations.embed"
                              v-model="model.embed"
                              data-vv-as="Embed"
                              class="form-control"
                              value="<iframe>blablabla</iframe>"
                              >
                        <div class="input-group-addon" >Copy</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Social Media</label>
                      <br>
                      <button class="btn btn-icon btn-fill btn-twitter" title="twitter"><i class="ti-twitter-alt"></i></button>
                      <button class="btn btn-icon btn-fill btn-facebook" title="facebook"><i class="ti-facebook"></i></button>
                      <button class="btn btn-icon btn-fill btn-linkedin" title="linkedin"><i class="ti-linkedin"></i></button>
                      <button class="btn btn-icon btn-fill btn-pinterest" title="pinterest"><i class="ti-pinterest"></i></button>
                      <button class="btn btn-icon btn-fill btn-youtube" title="youtube"><i class="ti-youtube"></i></button>
                      <button class="btn btn-icon btn-fill btn-tumblr" title="tumblr"><i class="ti-tumblr"></i></button>
                      <button class="btn btn-icon btn-fill btn-github" title="github"><i class="ti-github"></i></button>
                      <button class="btn btn-icon btn-fill btn-dribbble" title="dribbble"><i class="ti-dribbble"></i></button>
                      <button class="btn btn-icon btn-fill btn-reddit" title="reddit"><i class="ti-reddit"></i></button>
                      <button class="btn btn-icon btn-fill btn-instagram" title="instagram"><i class="ti-instagram"></i></button>
                    </div>
                  </div>
                </div>
                <div class="custom-modal-footer">
                </div>
              </form>
            </div>
          `,
          methods: {
            closeModalCampaign () {
              this.$modal.hide('shareCampaignModal');
            },
            getError (fieldName) {
              return this.errors.first(fieldName)
            },
            createCampaign () {
              var self = this;
              this.$validator.validateAll().then(isValid => {
                axios.post('/api/project/' + self.$route.params.projectid + '/campaign', {
                  name: self.model.campaignName
                }).then(({ data }) => {
                  //
                });
              });
            }
          }
        }, null, {
          name: 'shareCampaignModal'
        })
      },
    },
    watch: {
      // call again the method if the route changes
      '$route': 'fetchData'
    },
    created () {
      this.fetchData()
    }
  }

</script>

<style lang="scss">
  .v--modal-box{
    height: auto !important;
  }
  .example-modal-content{
    .custom-modal-wrapper{
      margin: 20px;
    }
    .custom-modal-header{
      border-bottom: 1px solid #e8e7e3;
    }
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .15s
  }

  .fade-enter,
  .fade-leave-to/* .fade-leave-active in <2.1.8 */
  {
    opacity: 0
  }

  .el-tag{
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .el-radio-group{
    &:not(:last-child){
      margin-right: 15px;
    }
    .el-radio-button{
      .el-radio-button__inner{
        border-left: 1px solid #dcdfe6 !important;
        line-height: 74px;
        word-wrap: break-word;
        height: 100px;
        width: 100px;
      }
      &:first-child .el-radio-button__inner{
        border-radius: 0px !important;
      }
      &:last-child .el-radio-button__inner{
        border-radius: 0px !important;
      }
    }
  }

  .campaign-wrapper{
    min-height: calc(100vh - 300px);
    max-height: calc(100vh - 300px);
    margin-bottom: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    .title-wrapper{
      min-width: calc(100% - 130px);
      max-width: calc(100% - 130px);
      display: inline-block;
      vertical-align: top;
    }
    .member-wrapper{
      text-align: right;
      display: inline-block;
      vertical-align: top;
      .member-photo{
        display: inline;
        img{
          border-radius: 25px;
          width: auto;
          height: 20px;
          border-width: 2px;
          border-color: #a10100;
        }
      }
      .link{
        text-align: right;
        color: #909399;
        transition: all 100ms ease-in;
        margin-right: -4px;
        margin-bottom: 5px;
        cursor: pointer;
        &:hover{
          color: #141414;
        }
      }
    }
    .card{
      color: #66615b;
      .card-header{
        .title-text{
          margin-right: 10px;
          font-size: 16px;
          color: #66615b;
        }
      }
      .info{
        margin-top:10px;
        min-width: calc(100% - 245px);
        max-width: calc(100% - 245px);
        display: inline-block;
        vertical-align: middle;
      }
      .tools{
        padding-top: 10px;
        right: 0px;
        display: inline-block;
        vertical-align: middle;
        .link{
          text-align: right;
          padding: 0px 15px;
          color: #909399;
          transition: all 100ms ease-in;
          cursor: pointer;
          border-left: 1px solid #ccc;
          &:hover{
            color: #141414;
          }
          &:first-child{
            border-left: none;
          }
          &:last-child{
            border-right: none;
          }
        }
      }
      &:not(:last-child){
        margin-bottom: 15px;
      }
    }
    
    &::-webkit-scrollbar {
      width: .4em;
    }
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      overflow:visible;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(0,0,0,.2);
    }
  }

    .socmed-wrapper{
      margin-bottom: 20px;
      .socmed-button{
        display: inline-block;
        vertical-align: middle;
        padding: 5px 5px;
        border-radius: 25px;
        transition: all ease-in-out .3s;
        img{
          height: 50px;
          width: 50px;
          border-radius: 25px;
          transition: all ease-in-out .3s;
        border: 2px solid #fff;
        }
        &:hover img, &:active img{
          border: 2px solid #000;
        }
      }
    }
</style>
