<template>
  <div>
    <div class="row">
      <div class="col-md-12" style="margin-bottom: 20px;">
        <div class="row">
          <div class="col-md-4">
            <router-link :to="{ name: 'Campaign Overview', params: getCampaignOverviewLink() }" style="margin:23.5px 0px 8.5px 0px" class="btn btn-icon" tag="button">
                <span class="ti-angle-left"></span> {{projectName}}
            </router-link>
          </div>
          <div class="col-md-4 col-xs-4">
            <h4 class="title" style="text-align:center">[Campaign Name]</h4>
          </div>
          <div class="col-md-4 col-xs-4" style="text-align: right;">
            <div class="member-wrapper" style="margin:21.5px 0px 6.5px 0px">
              <a @click="inviteMembersModal" class="link"><small> Campaign Members +</small></a><br>
              <div class="member-photo">
                <img src="/img/faces/face-3.jpg"/>
              </div>
              <div class="member-photo">
                <img src="/img/faces/face-3.jpg"/>
              </div>
              <div class="member-photo">
                <img src="/img/faces/face-3.jpg"/>
              </div>
              <div class="member-photo">
                <img src="/img/faces/face-3.jpg"/>
              </div>
              <div class="member-photo">
                <img src="/img/faces/face-3.jpg"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
    <div class="funnel">
      <div class="row">
        <div class="col-md-4">
          <p><b>Intro</b></p>
          <div class="minisite-wrapper">
            <div class="minisite-box">
              Minisite
            </div>
            <div class="minisite-tools">
              <a @click="editIntroModal" tag="a" class="tools">
                <i class="fa fa-pencil"></i><br>
                <small>Edit</small>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <p><b>Quiz</b></p>
          <div class="minisite-wrapper">
            <div class="minisite-box">
              Minisite
            </div>
            <div class="minisite-tools">
              <a @click="editQuiz" tag="a" class="tools">
                <i class="fa fa-pencil"></i><br>
                <small>Edit</small>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <p><b>Result A</b></p>
          <div class="minisite-wrapper">
            <div class="minisite-box">
              Minisite
            </div>
            <div class="minisite-tools">
              <a @click="editResult" tag="a" class="tools">
                <i class="fa fa-pencil"></i><br>
                <small>Edit</small>
              </a>
            </div>
          </div>
          <p><b>Result B</b></p>
          <div class="minisite-wrapper">
            <div class="minisite-box">
              Minisite
            </div>
            <div class="minisite-tools">
              <a @click="editResult" tag="a" class="tools">
                <i class="fa fa-pencil"></i><br>
                <small>Edit</small>
              </a>
            </div>
          </div>
          <p><b>Result C</b></p>
          <div class="minisite-wrapper">
            <div class="minisite-box">
              Minisite
            </div>
            <div class="minisite-tools">
              <a @click="editResult" tag="a" class="tools">
                <i class="fa fa-pencil"></i><br>
                <small>Edit</small>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
    <div style="display: inline-block; vertical-align:top; margin-top: 32px; float: right">
      <button type="button" class="btn btn-icon" @click="campaignMinisiteSetting" >
        Settings
      </button><br><br>
      <button type="button" class="btn btn-icon">
        Preview
      </button><br><br>
      <button type="button" class="btn btn-icon" @click="shareCampaignModal" >
        Share
      </button>
    </div>
    </div>
    </div>

    <invite-members-modal/>
  </div>
</template>
<script>
  import Vue from 'vue'
  import axios from 'axios'
  import {mapFields} from 'vee-validate'
  import InviteMembersModal from './../Invitation/InviteMembersModal.vue'
  import CircleChartCard from './../../../UIComponents/Cards/CircleChartCard.vue'
  import StatsCard from './../../../UIComponents/Cards/StatsCard.vue'
  import {RadioGroup, RadioButton, Collapse, CollapseItem} from 'element-ui'

  Vue.use(RadioGroup)
  Vue.use(RadioButton)
  Vue.use(Collapse)
  Vue.use(CollapseItem)

  export default {
    components: {
      StatsCard,
      CircleChartCard,
      InviteMembersModal
    },
    /**
     * Chart data used to render stats, charts. Should be replaced with server data
     */
    data () {
      return {
        activeName: '1',
        campaignMembers: [],
        destination: 'campaign',
        destinationId: this.$route.params.campaignid,
        projectName: this.$route.params.projectName,
        statsCards: [
          {
            type: 'warning',
            icon: 'ti-layout-list-post',
            title: 'Quiz',
            value: '',
            footerText: 'Last Update: 27 days ago',
            footerIcon: 'ti-calendar'
          },
          {
            type: 'success',
            icon: 'ti-video-camera',
            title: 'Video',
            value: '',
            footerText: 'Last Update: 27 days ago',
            footerIcon: 'ti-calendar'
          },
          {
            type: 'danger',
            icon: 'ti-email',
            title: 'Email',
            value: '',
            footerText: 'Last Update: 27 days ago',
            footerIcon: 'ti-calendar'
          }
        ],
      }
    },
    methods: {
      fetchData () {
        const self = this;
        let workspaceId = self.$route.params.workspaceid
        let teamId = self.$route.params.teamid
        let projectId = self.$route.params.projectid
        let campaignId = self.$route.params.campaignid

        axios.get('/api/workspace/' + workspaceId + '/team/' + teamId + '/project/' + projectId + '/campaign/' + campaignId + '/members')
          .then(({ data }) => {
            self.campaignMembers = data;
          });
      },
      getCampaignOverviewLink () {
        return {
          workspaceid: this.$route.params.workspaceid,
          teamid: this.$route.params.teamid,
          projectid: this.$route.params.projectid,
          campaignid: this.$route.params.campaignid
        }
      },
      inviteMembersModal () {
        this.$nextTick(() => {
          this.$modal.show('invite-members-modal')
        })
      },
      campaignMinisiteSetting () {
        this.$modal.show({
          data () {
            return {
              model: {
                url: ''
              },
              modelValidations: {
                campaignurlName: {
                  required: true
                }
              }
            }
          },
          computed: {
            ...mapFields(['url']),
            isComplete () {
              return this.model.url;
            }
          },
          template: `
            <div class="example-modal-content">
              <form>
                <div class="custom-modal-header">
                  <div class="custom-modal-wrapper">
                    <h4 class="title">Campaign Setting</h4>
                    <a class="link close" @click="closeModalSetting"><span class="ti-close"></span></a>
                  </div>
                </div>
                <div class="custom-modal-content">
                  <div class="custom-modal-wrapper">
                    <el-collapse accordion>
                      <el-collapse-item title="Retargeting" name="1">
                        <div class="form-group">
                          <label>Feedback</label>
                          <input type="text"
                                name="retargetingFeedback"
                                data-vv-as="Retargeting Feedback"
                                class="form-control">
                          <small class="text-danger">
                            {{ getError('retargetingFeedback') }}
                          </small>
                        </div>
                        <div class="form-group">
                          <label>Title</label>
                          <input type="text"
                                name="retargetingTitle"
                                data-vv-as="Retargeting Title"
                                class="form-control">
                          <small class="text-danger">
                            {{ getError('retargetingTitle') }}
                          </small>
                        </div>
                        <div class="form-group">
                          <label>Other</label>
                          <input type="text"
                                name="retargetingOther"
                                data-vv-as="Other"
                                class="form-control">
                          <small class="text-danger">
                            {{ getError('retargetingOther') }}
                          </small>
                        </div>
                      </el-collapse-item>
                      <el-collapse-item title="SEO" name="2">
                        <div class="form-group">
                          <label>Keywords</label>
                          <input type="text"
                                name="seoKeywords"
                                data-vv-as="SEO Keywords"
                                class="form-control">
                          <small class="text-danger">
                            {{ getError('seoKeywords') }}
                          </small>
                        </div>
                        <div class="form-group">
                          <label>Title</label>
                          <input type="text"
                                name="seoTitle"
                                data-vv-as="SEO Feedback"
                                class="form-control">
                          <small class="text-danger">
                            {{ getError('seoTitle') }}
                          </small>
                        </div>
                        <div class="form-group">
                          <label>Description</label>
                          <input type="text"
                                name="seoDescription"
                                data-vv-as="SEO Description"
                                class="form-control">
                          <small class="text-danger">
                            {{ getError('seoDescription') }}
                          </small>
                        </div>
                      </el-collapse-item>
                      <el-collapse-item title="Analytics" name="3">
                        <div class="form-group">
                          <label>Google</label>
                          <input type="text"
                                name="analyticsGoogle"
                                data-vv-as="Google Analytics"
                                class="form-control">
                          <small class="text-danger">
                            {{ getError('analyticsGoogle') }}
                          </small>
                        </div>
                        <div class="form-group">
                          <label>Other</label>
                          <input type="text"
                                name="analyticsTitle"
                                data-vv-as="Other Analytics"
                                class="form-control">
                          <small class="text-danger">
                            {{ getError('analyticsTitle') }}
                          </small>
                        </div>
                        <div class="form-group">
                          <label>Description</label>
                          <input type="text"
                                name="analyticsDescription"
                                data-vv-as="Analytics Description"
                                class="form-control">
                          <small class="text-danger">
                            {{ getError('analyticsDescription') }}
                          </small>
                        </div>
                      </el-collapse-item>
                    </el-collapse>
                  </div>
                </div>
                <div class="custom-modal-footer">
                  <div class="custom-modal-wrapper" style="text-align:right">
                    <button class="btn btn-success" type="submit">Save</button>
                  </div>
                </div>
              </form>
            </div>
          `,
          methods: {
            closeModalSetting () {
              this.$modal.hide('campaignMinisiteSetting');
            },
            getError (fieldName) {
              return this.errors.first(fieldName)
            },
            createCampaign () {
              var self = this;
              this.$validator.validateAll().then(isValid => {
                axios.post('/api/project/' + self.$route.params.projectid + '/campaign', {
                  name: self.model.campaignName
                }).then(({ data }) => {
                  //
                });
              });
            }
          }
        }, null, {
          name: 'campaignMinisiteSetting'
        })
      },
      shareCampaignModal () {
        this.$modal.show({
          data () {
            return {
              model: {
                url: ''
              },
              modelValidations: {
                campaignurlName: {
                  required: true
                }
              }
            }
          },
          computed: {
            ...mapFields(['url']),
            isComplete () {
              return this.model.url;
            }
          },
          template: `
            <div class="example-modal-content">
              <form>
                <div class="custom-modal-header">
                  <div class="custom-modal-wrapper">
                    <h4>Share</h4>
                  </div>
                </div>
                <div class="custom-modal-content">
                  <div class="custom-modal-wrapper">
                    <div class="form-group">
                      <label>URL</label>
                      <div class="input-group">
                        <input createDate="text"
                              name="url"
                              v-validate="modelValidations.url"
                              v-model="model.url"
                              data-vv-as="URL"
                              class="form-control"
                              value="blablabla.com/blablabla/intro"
                              readonly>
                        <div class="input-group-addon" >Copy</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Embed</label>
                      <div class="input-group">
                        <input createDate="text"
                              name="embed"
                              v-validate="modelValidations.embed"
                              v-model="model.embed"
                              data-vv-as="Embed"
                              class="form-control"
                              value="<iframe>blablabla</iframe>"
                              >
                        <div class="input-group-addon" >Copy</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Social Media</label>
                      <div class="socmed-wrapper">
                        <a href="#" class="socmed-button">
                          <img src="/img/socmed-logo/facebook.png"/>
                        </a>
                        <a href="#" class="socmed-button">
                          <img src="/img/socmed-logo/twitter.png"/>
                        </a>
                        <a href="#" class="socmed-button">
                          <img src="/img/socmed-logo/instagram.png"/>
                        </a>
                        <a href="#" class="socmed-button">
                          <img src="/img/socmed-logo/linkedin.png"/>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="custom-modal-footer">
                </div>
              </form>
            </div>
          `,
          methods: {
            closeModalCampaign () {
              this.$modal.hide('shareCampaignModal');
            },
            getError (fieldName) {
              return this.errors.first(fieldName)
            },
            createCampaign () {
              var self = this;
              this.$validator.validateAll().then(isValid => {
                axios.post('/api/project/' + self.$route.params.projectid + '/campaign', {
                  name: self.model.campaignName
                }).then(({ data }) => {
                  //
                });
              });
            }
          }
        }, null, {
          name: 'shareCampaignModal'
        })
      },
      editIntroModal () {
        this.$modal.show({
          data () {
            return {
              model: {
                campaignName: ''
              },
              modelValidations: {
                campaignName: {
                  required: true
                }
              }
            }
          },
          computed: {
            ...mapFields(['campaignName']),
            isComplete () {
              return this.model.campaignName;
            }
          },
          template: `
            <div class="example-modal-content">
              <form>
                <div class="custom-modal-header">
                  <div class="custom-modal-wrapper">
                    <h4>Select Your Page Template</h4>
                  </div>
                </div>
                <div class="custom-modal-content">
                  <div class="custom-modal-wrapper">
                    <div class="form-group">
                      <label>Template</label><br>
                      <el-radio-group>
                        <el-radio-button label="Video"></el-radio-button>
                        <el-radio-button label="Image"></el-radio-button>
                        <el-radio-button label="Quiz"></el-radio-button>
                        <el-radio-button label="Text"></el-radio-button>
                      </el-radio-group>
                    </div>
                  </div>
                </div>
                <div class="custom-modal-footer">
                  <div class="custom-modal-wrapper">
                    <button type="button" class="btn btn-primary" @click="closeModalCampaign">Close</button>
                    <button class="btn btn-success pull-right" type="submit" @click.prevent="createCampaign">
                      <router-link :to="{ name: 'Create Campaign'}" style="margin:23.5px 0px 8.5px 0px">
                        Create Campaign
                      </router-link>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          `,
          methods: {
            closeModalCampaign () {
              this.$modal.hide('editIntroModal');
            },
            getError (fieldName) {
              return this.errors.first(fieldName)
            },
            createCampaign () {
              this.$modal.hide('editIntroModal');
              /*var self = this;
              this.$validator.validateAll().then(isValid => {
                axios.post('/api/project/' + self.$route.params.projectid + '/campaign', {
                  name: self.model.campaignName
                }).then(({ data }) => {
                  //
                });
              });*/
            }
          }
        }, null, {
          name: 'editIntroModal'
        })
      },

      editQuiz () {
        this.$modal.show({
          data () {
            return {
              model: {
                campaignName: ''
              },
              modelValidations: {
                campaignName: {
                  required: true
                }
              }
            }
          },
          computed: {
            ...mapFields(['campaignName']),
            isComplete () {
              return this.model.campaignName;
            }
          },
          template: `
            <div class="example-modal-content">
              <form>
                <div class="custom-modal-header">
                  <div class="custom-modal-wrapper">
                    <h4>Create New Campaign</h4>
                  </div>
                </div>
                <div class="custom-modal-content">
                  <div class="custom-modal-wrapper">
                    <div class="form-group">
                      <label>Campaign Name</label>
                      <input createDate="text"
                            name="campaignName"
                            v-validate="modelValidations.campaignName"
                            v-model="model.campaignName"
                            data-vv-as="Campaign Name"
                            class="form-control" autofocus>
                      <small class="text-danger" v-show="campaignName.invalid">
                        {{ getError('campaignName') }}
                      </small>
                    </div>
                    <div class="form-group">
                      <label for="template">Choose Template</label>
                      <select class="form-control" id="template" name="template">
                        <option>Default</option>
                        <option>Quiz</option>
                        <option>Video</option>
                        <option>Mailbot</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="custom-modal-footer">
                  <div class="custom-modal-wrapper">
                    <button type="button" class="btn btn-primary" @click="closeModalCampaign">Close</button>
                    <button class="btn btn-success pull-right" type="submit" @click.prevent="createCampaign" :disabled="!isComplete">
                      <router-link :to="{ name: 'Create Campaign Quiz'}" style="margin:23.5px 0px 8.5px 0px">
                        Create Campaign
                      </router-link>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          `,
          methods: {
            closeModalCampaign () {
              this.$modal.hide('editQuiz');
            },
            getError (fieldName) {
              return this.errors.first(fieldName)
            },
            createCampaign () {
              this.closeModalCampaign()
              this.$router.push({ name: 'campaign-minisite-editor', params: { workspaceid: 'x', teamid: 'y', projectid: 'a', campaignid: 'dw' } })
              var self = this;
              this.$validator.validateAll().then(isValid => {
                axios.post('/api/project/' + self.$route.params.projectid + '/campaign', {
                  name: self.model.campaignName
                }).then(({ data }) => {
                  //
                });
              });
            }
          }
        }, null, {
          name: 'editQuiz'
        })
      },

      editResult () {
        this.$modal.show({
          data () {
            return {
              model: {
                campaignName: ''
              },
              modelValidations: {
                campaignName: {
                  required: true
                }
              }
            }
          },
          computed: {
            ...mapFields(['campaignName']),
            isComplete () {
              return this.model.campaignName;
            }
          },
          template: `
            <div class="example-modal-content">
              <form>
                <div class="custom-modal-header">
                  <div class="custom-modal-wrapper">
                    <h4>Create New Campaign</h4>
                  </div>
                </div>
                <div class="custom-modal-content">
                  <div class="custom-modal-wrapper">
                    <div class="form-group">
                      <label>Campaign Name</label>
                      <input createDate="text"
                            name="campaignName"
                            v-validate="modelValidations.campaignName"
                            v-model="model.campaignName"
                            data-vv-as="Campaign Name"
                            class="form-control" autofocus>
                      <small class="text-danger" v-show="campaignName.invalid">
                        {{ getError('campaignName') }}
                      </small>
                    </div>
                    <div class="form-group">
                      <label for="template">Choose Template</label>
                      <select class="form-control" id="template" name="template">
                        <option>Default</option>
                        <option>Quiz</option>
                        <option>Video</option>
                        <option>Mailbot</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="custom-modal-footer">
                  <div class="custom-modal-wrapper">
                    <button type="button" class="btn btn-primary" @click="closeModalCampaign">Close</button>
                    <button class="btn btn-success pull-right" type="submit" @click.prevent="createCampaign" :disabled="!isComplete">
                      <router-link :to="{ name: 'Edit Result'}" style="margin:23.5px 0px 8.5px 0px">
                        Create Campaign
                      </router-link>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          `,
          methods: {
            closeModalCampaign () {
              this.$modal.hide('editResult');
            },
            getError (fieldName) {
              return this.errors.first(fieldName)
            },
            createCampaign () {
              /*var self = this;
              this.$validator.validateAll().then(isValid => {
                axios.post('/api/project/' + self.$route.params.projectid + '/campaign', {
                  name: self.model.campaignName
                }).then(({ data }) => {
                  //
                });
              });*/
            }
          }
        }, null, {
          name: 'editResult'
        })
      },
    },
    watch: {
      // call again the method if the route changes
      '$route': 'fetchData'
    },
    created () {
      this.fetchData()
    }
  }

</script>
<style lang="scss">
  .v--modal-box{
    height: auto !important;
  }
  .example-modal-content{
    .custom-modal-wrapper{
      margin: 20px;
    }
    .custom-modal-header{
      border-bottom: 1px solid #e8e7e3;
    }
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .15s
  }

  .fade-enter,
  .fade-leave-to/* .fade-leave-active in <2.1.8 */
  {
    opacity: 0
  }

  .el-tag{
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .el-radio-group{
    &:not(:last-child){
      margin-right: 15px;
    }
    .el-radio-button{
      .el-radio-button__inner{
        border-left: 1px solid #dcdfe6 !important;
        line-height: 74px;
        word-wrap: break-word;
        height: 100px;
        width: 100px;
      }
      &:first-child .el-radio-button__inner{
        border-radius: 0px !important;
      }
      &:last-child .el-radio-button__inner{
        border-radius: 0px !important;
      }
    }
  }

  .member-wrapper{
    text-align: right;
    .member-photo{
      display: inline;
      img{
        border-radius: 25px;
        width: auto;
        height: 20px;
        border-width: 2px;
        border-color: #a10100;
      }
    }
  }

  .funnel{
    width: calc(100% - 100px);
    display: inline-block;
    vertical-align:top;
  }

  .minisite-wrapper{
    margin-bottom: 20px;
    border: 1px solid #d3d3d3;
    .minisite-box{
      text-align: center;
      padding:60px 0px 30px 0px;
      background-color: #fff;
    }
    .minisite-tools{
      text-align: center;
      background-color: #ededed;
      .tools{
        padding: 10px 0px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        transition: all ease-in-out .3s;
        color: #7e7e7e;
        cursor: pointer;

        &:first-child:nth-last-child(1) {
        /* -or- li:only-child { */
            width: 99%;
        }

        /* two items */
        &:first-child:nth-last-child(2),
        &:first-child:nth-last-child(2) ~ .tools {
            width: 49%;
        }

        /* three items */
        &:first-child:nth-last-child(3),
        &:first-child:nth-last-child(3) ~ .tools {
            width: 32%;
        }

        &:hover{
          background-color: #d3d3d3;
        }
      }
    }
  }

  .main-panel{
    .back-button{
      width: 59px;
      display: inline;
      padding: 5px 15px 15px 17px;
      vertical-align:top;
    }
    .side-content{
      width: calc(100% - 85px);
      display: inline-block;
      vertical-align:top;
    }
  }

  .socmed-wrapper{
    margin-bottom: 20px;
    .socmed-button{
      display: inline-block;
      vertical-align: middle;
      padding: 5px 5px;
      border-radius: 25px;
      transition: all ease-in-out .3s;
      img{
        height: 50px;
        width: 50px;
        border-radius: 25px;
        transition: all ease-in-out .3s;
      }
      &:hover img, &:active img{
        border: 4px solid #000;
      }
    }
  }
</style>
