<template>
  <layout title="Project #1">
    <minisite-content>
      <minisite-block @select-background="showMedia = true">
        <component :is="is" tag-name="h1" placeholder="Write your title here"></component>
      </minisite-block @select-background="showMedia = true">
      <minisite-block @select-background="showMedia = true">
        <component :is="is" tag-name="h1" placeholder="Write your title here" @onClickIcon="showChangeBg = true"/>
        <component :is="is" @onClickIcon="showChangeBg = true"/>
        <social-block inline/>
        <button-block/>
      </minisite-block>
      <minisite-block :showEditBackground="false">
        <video-block @onImport="showMedia = true"/>
        <button-block/>
      </minisite-block>
      <el-row :gutter="15">
        <el-col :span="8">
          <minisite-block edit-text="Take your picture here" height="180px" @select-background="showMedia = true">
          </minisite-block>
        </el-col>
        <el-col :span="16">
          <component :is="is" placeholder="Write your title here"></component>
        </el-col>
      </el-row>
      <el-row :gutter="15">
        <el-col :span="8">
          <social-block/>
        </el-col>
        <el-col :span="16">
          <component :is="is" placeholder="Write your title here"></component>
        </el-col>
      </el-row>
      <minisite-block edit-text="Edit your background here" @select-background="showMedia = true">
        <quiz-block></quiz-block>
      </minisite-block>
      <component :is="is" value="Copyrights 2018, All Right Reserved"></component>
    </minisite-content>
    <media :visible="showMedia" @close="showMedia = false" @import="showMedia = false"/>
  </layout>
</template>

<script>
import Layout from '../../elements/minisite/Layout.vue'
import MinisiteBlock from '../../elements/minisite/Block.vue'
import MinisiteContent from '../../elements/minisite/Content.vue'
import HeaderBlock from '../../elements/minisite/blocks/Header.vue'
import TextBlock from '../../elements/minisite/blocks/Text.vue'
import SocialBlock from '../../elements/minisite/blocks/SocialIcon.vue'
import ImageBlock from '../../elements/minisite/blocks/Image.vue'
import ButtonBlock from '../../elements/minisite/blocks/Button.vue'
import VideoBlock from '../../elements/minisite/blocks/Video.vue'
import QuizBlock from '../../elements/minisite/blocks/Quiz.vue'
import Media from '../../elements/Media.vue'
import { Row, Col } from 'element-ui'

export default {
  components: {
    Layout,
    MinisiteBlock,
    MinisiteContent,
    HeaderBlock,
    TextBlock,
    ImageBlock,
    SocialBlock,
    ButtonBlock,
    VideoBlock,
    QuizBlock,
    Media,
    'el-row': Row,
    'el-col': Col
  },
  data () {
    return {
      item: 'swsw',
      font: '',
      is: 'TextBlock',
      btnText: 'Your Text here',
      fontWeight: 'bold',
      horizontal_padding: 0,
      color1: '',
      color2: '',
      showChangeBg: false,
      showEditButton: false,
      content: [
        { component: 'tex', tag: 'h1', placeholder: 'Write your content here' },
        { tag: 'p', placeholder: '' },
        { tag: 'p', placeholder: '' }
      ],
      showMedia: false
    }
  },
  methods: {
    onChange (event) {
      console.log(event)
    }
  }
}
</script>
<style lang="scss">
.image-container {
  position: relative;
  background: #edeff2;
  height: 150px;

  &:hover {
    cursor: pointer;
    background: #E4E7EC;

    .image-icon {
      color: darken(#ced4dd, 10%);
    }
  }
}

.image-icon {
  color: #ced4dd;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.minisite-content-block {
  border: 1px solid #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}

.btn-preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.undo-redo {
  position: absolute;
  bottom: 20px;
  left: 50%;
    transform: translateX(-50%);
}
</style>
