<template>
    <div class="card scroll">
        <div class="card-header">
          <div style="margin-top:10px;">
            <div class="title-text ellipsis" style="width:calc(100% - 100px);">
              <el-tag
                :type="status === 'Draft' ? 'warning' : 'info'"
                disable-transitions>{{status}}
              </el-tag>
              {{name}}
            </div>
            <div class="right-side"> 
              <button class="btn" width="56px">Edit</button>
            </div>
          </div>
        </div>
        <div class="card-content">
          <small><i>Last update: {{updateDate}}</i></small>
        </div>
    </div>
</template>

<script>
export default{
  data(){
    return{
        name: 'Starbucks',
        status: 'Published',
        updateDate: '39 Days'
    }
  }
}
</script>

<style lang="scss">
.card{
  margin-bottom: 0px;
}

.scroll{
  min-height: calc(100vh - 300px);
  max-height: calc(100vh - 300px);
  overflow-y: scroll;
  overflow-x:hidden;
}

.card-header{
  height: 73px;
  vertical-align: middle;
  padding: 10px 15px 10px !important;

  .title-text{
    display: inline-block;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5em;
    color: #909399;
  }

  .right-side{
    float: right;
    vertical-align: middle;
    line-height: normal;
  }
}
</style>
