<template>
    <div class="row">
      <div class="col-md-12">
        <h4 class="title">11 Project Name</h4>
        <p class="category">You could see all the campaign for this project here</p>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <div style="margin-top:10px;">
              <div class="title-text ellipsis" style="width:calc(100% - 194px);">
                <button class="btn" width="56px">Add new Campaign</button>
              </div>
            </div>
          </div>
          <div class="card-content table-responsive table-full-width">
            <el-table  style="width: 100%;" height="calc(100vh - 398px)"
                      :data="tableData">
              <el-table-column fixed label="Campaign Name" property="name" width="250"></el-table-column>
              <el-table-column fixed label="Type" property="type"></el-table-column>
              <el-table-column label="Status" property="status" 
                :filters="[{ text: 'Draft', value: 'Draft' }, { text: 'Published', value: 'Published' }, { text: 'Archieved', value: 'Archieved' }]"
                :filter-method="filterTag"
                filter-placement="bottom-end">
                <template slot-scope="scope">
                  <el-tag
                    :type="type(scope.row.status)"
                    disable-transitions>{{scope.row.status}}</el-tag>
                </template>
              </el-table-column>
              <el-table-column label="Last Update" property="updateDate" width="150"></el-table-column>
              <el-table-column
                fixed="right"
                label=""
                width="90">
                <template slot-scope="props">
                  <el-button type="text" size="large" title="Delete Campaign" @click="deleteRow(props.$index, props.row)"><i class="fa fa-trash"></i></el-button>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <transition name="fade" mode="out-in">
          <campaigndetails>
          </campaigndetails>
        </transition>
      </div>
    </div>
</template>
<script>
  import Vue from 'vue'
  import Campaign from './CampaignDetail.vue'
  import {Table, TableColumn, Tag, Button} from 'element-ui'
  Vue.use(Table)
  Vue.use(TableColumn)
  Vue.use(Tag)
  Vue.use(Button)

  export default {
    data () {
      return {
        tableData: [{
          name: 'Starbucks',
          type: 'Video',
          status: 'Archieved',
          updateDate: '39 Days'
        },
        {
          name: 'J.Co',
          status: 'Published',
          type: 'Quiz',
          updateDate: '10 Days'
        },
        {
          name: 'Chatime',
          status: 'Draft',
          type: 'Quiz',
          updateDate: '10 Minutes'
        },
        {
          name: 'Pizza Hut',
          status: 'Archieved',
          type: 'Video',
          updateDate: '29 Second'
        },
        {
          name: 'KFC',
          status: 'Published',
          type: 'Video',
          updateDate: '15 Days'
        },
        {
          name: 'Starbucks',
          status: 'Published',
          type: 'Quiz',
          updateDate: '39 Days'
        },
        {
          name: 'J.Co',
          status: 'Archieved',
          type: 'Video',
          updateDate: '10 Days'
        },
        {
          name: 'Chatime',
          status: 'Archieved',
          type: 'Quiz',
          updateDate: '10 Minutes'
        },
        {
          name: 'Pizza Hut',
          status: 'Draft',
          type: 'Quiz',
          updateDate: '29 Second'
        },
        {
          name: 'KFC',
          status: 'Published',
          type: 'Quiz',
          updateDate: '15 Days'
        },
        {
          name: 'Starbucks',
          status: 'Published',
          updateDate: '39 Days'
        },
        {
          name: 'J.Co',
          status: 'Published',
          type: 'Video',
          updateDate: '10 Days'
        },
        {
          name: 'Chatime',
          status: 'Draft',
          type: 'Video',
          updateDate: '10 Minutes'
        },
        {
          name: 'Pizza Hut',
          status: 'Draft',
          type: 'Video',
          updateDate: '29 Second'
        },
        {
          name: 'KFC',
          status: 'Published',
          type: 'Quiz',
          updateDate: '15 Days'
        }]
      }
    },
    components: {
      campaigndetails : Campaign
    },
    methods: {
      filterTag(value, row) {
        return row.status === value;
      },
      filterHandler(value, row, column) {
        const property = column['property'];
        return row[property] === value;
      },
      detailsRow(index, rows){
        rows.splice(index, 1);
      },
      deleteRow(index, rows) {
        let indexToDelete = this.tableData.findIndex((tableRow) => tableRow.id === row.id)
        if (indexToDelete >= 0) {
          this.tableData.splice(indexToDelete, 1)
        }
      },
      type(value){
        if(value === "Published"){
          return 'info';
        }
        else{
          if(value === "Draft"){
            return 'warning';
          }
          else{
            return 'primary';
          }
        }
      }
    }
  }

</script>
<style>
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .15s
  }

  .fade-enter,
  .fade-leave-to/* .fade-leave-active in <2.1.8 */
  {
    opacity: 0
  }

  .el-tag{
    margin-left: 0px;
    margin-bottom: 0px;
  }
</style>
